<h2><i class="fa fa-university"></i>
    <span lang="en" class="multilang">Course Listings</span>
    <span lang="de" class="multilang">Kursverzeichnis</span>
    <span lang="es" class="multilang">Listados de cursos</span>
    <span lang="fr" class="multilang">Liste des cours</span>
    <span lang="id" class="multilang">Daftar Kursus</span>
    <span lang="it" class="multilang">Elenchi di corsi</span>
    <span lang="nl" class="multilang">Cursussenlijst</span>
    <span lang="pt_br" class="multilang">Listas de Cursos</span>
    <span lang="ta" class="multilang">பாடப்பிரிவு பட்டியல்கள்</span>
    <span lang="th" class="multilang">รายการในหลักสูตร</span>
    <span lang="vi" class="multilang">Danh Sách Khóa Học</span>
    <span lang="hi" class="multilang">पाठ्यक्रम सूचीकरण</span>
    <span lang="te" class="multilang">కోర్సు జాబితాలు</span>
    <span lang="ko" class="multilang">코스 목록</span>
    <span lang="ja" class="multilang">課程のリスト</span>
    <span lang="zh_cn" class="multilang">课程列表</span>
</h2>

<span lang="en" class="multilang"><p>Browse or search through the list of course descriptions. Pay for and enroll into classes of your choosing.</p></span>
<span lang="de" class="multilang"><p>Navigieren Sie durch oder durchsuchen Sie die Liste der Kursbeschreibungen. Bezahlen Sie und melden Sie sich zu den Kursen Ihrer Wahl an. </p></span>
<span lang="es" class="multilang"><p>Navegar o buscar a través de la lista de descripciones de cursos. Pagar e inscribirse a las clases de su elección.</p></span>
<span lang="fr" class="multilang"><p>Naviguez ou cherchez à travers la liste des descriptifs des cours. Payez et inscrivez-vous dans les cours de votre choix.</p></span>
<span lang="id" class="multilang"><p>Jelajahi atau cari di sepanjang daftar deskripsi kursus. Lakukan pembayaran dan mendaftarlah ke kelas yang Anda pilih.</p></span>
<span lang="it" class="multilang"><p>Naviga o cerca nell’elenco delle descrizioni dei corsi. Paga e iscriviti alle lezioni che preferisci.</p></span>
<span lang="nl" class="multilang"><p>Blader door en zoek in de lijst met cursusbeschrijvingen. Betaal voor en schrijf je in voor lessen naar keuze.</p></span>
<span lang="pt_br" class="multilang"><p>Navegue ou pesquise pelas listas de descrições dos cursos. Pague e se inscreva nas aulas de sua escolha.</p></span>
<span lang="ta" class="multilang"><p>பாடப்பிரிவு விளக்கப் பட்டியலில் உலாவவும் அல்லது தேடவும். பணம் செலுத்தி நீங்கள் தேர்ந்தெடுக்கும் வகுப்பில் சேர பதிவுசெய்யவும்.</p></span>
<span lang="th" class="multilang"><p>ค้นดูหรือค้นหาจากรายการคำอธิบายหลักสูตร ชำระและสมัครชั้นเรียนที่คุณเลือก</p></span>
<span lang="vi" class="multilang"><p>Duyệt hoặc tìm qua danh sách mô tả khóa học. Thanh toán và ghi danh tham gia các lớp bạn chọn.</p></span>
<span lang="hi" class="multilang"><p>पाठ्यक्रम के विवरण की सूची से ब्राउज़ करें या खोजें। अपनी पसंद की कक्षाओं के लिए भुगतान और नामांकन करें।</p></span>
<span lang="te" class="multilang"><p>కొర్సు వివరణల జాబితా అంతా బ్రౌజ్ చేయండి లేదా శోధించండి. మీరు ఎంపిక చేసుకున్న తరగతుల కొరకు చెల్లించి మరియు నమోదు చేసుకోండి.</p></span>
<span lang="ko" class="multilang"><p>코스 설명 목록을 검색하거나 찾아보십시오. 선택하신 수업의 수업료를 납부하시고 참여하십시오.</p></span>
<span lang="ja" class="multilang"><p>課程の内容によって、ブラウズするか、検索します。支払ってから選択のクラスに入学します。</p></span>
<span lang="zh_cn" class="multilang"><p>浏览或搜索完整的课程说明列表。支付您选择的课程费用并进行课程注册。</p></span>


<div><a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242" class="btn">
    <span lang="en" class="multilang">View Courses</span>
    <span lang="de" class="multilang">Kurse ansehen</span>
    <span lang="es" class="multilang">Ver cursos</span>
    <span lang="fr" class="multilang">Visualiser les Cours</span>
    <span lang="id" class="multilang">Lihat Kursus</span>
    <span lang="it" class="multilang">Visualizza corsi</span>
    <span lang="nl" class="multilang">Cursussen weergeven</span>
    <span lang="pt_br" class="multilang">Ver Cursos</span>
    <span lang="ta" class="multilang">பாடப்பிரிவுகளைக் காட்டு</span>
    <span lang="th" class="multilang">ดูหลักสูตร</span>
    <span lang="vi" class="multilang">Xem Khóa Học</span>
    <span lang="hi" class="multilang">पाठ्यक्रम देखें</span>
    <span lang="te" class="multilang">కోర్సులు చూడండి</span>
    <span lang="ko" class="multilang">View Courses</span>
    <span lang="ja" class="multilang">課程を見る</span>
    <span lang="zh_cn" class="multilang">查看课程</span>
</a></div>



