<h2>
    <span lang="en" class="multilang">Video Library Database</span>
    <span lang="de" class="multilang">Videobibliotheksdatenbank</span>
    <span lang="es" class="multilang">Base de datos de la biblioteca de videos</span>
    <span lang="fr" class="multilang">Base de données de vidéothèque</span>
    <span lang="id" class="multilang">Database Pustaka Video</span>
    <span lang="it" class="multilang">Database videoteca</span>
    <span lang="nl" class="multilang">Database videobibliotheek</span>
    <span lang="pt_br" class="multilang">Banco de dados da mediateca</span>
    <span lang="ta" class="multilang">வீடியோ லைப்ரரி தரவுத்தளம்</span>
    <span lang="th" class="multilang">ฐานข้อมูลคลังวิดีโอ</span>
    <span lang="vi" class="multilang">Cơ Sở Dữ Liệu Thư Viện Video</span>
    <span lang="hi" class="multilang">वीडियो लाइब्रेरी डेटाबेस</span>
    <span lang="te" class="multilang">వీడియో లైబ్రరీ డేటాబేస్</span>
    <span lang="ko" class="multilang">동영상 자료실 데이터베이스</span>
    <span lang="ja" class="multilang">ビデオライブラリのデータベース</span>
    <span lang="zh_cn" class="multilang">视频库数据库</span>
</h2>
<p>
    <!-- 1 -->
    <a target="_blank" href="http://jlgu.jlg.com/mod/page/view.php?id=2577">
        <span lang="en" class="multilang">Click here to watch the How To Use The Video Library video.</span>
        <span lang="de" class="multilang">Klicken Sie hier, wenn Sie das Video zur Nutzung der Videobibliotheksdatenbank ansehen wollen.</span>
        <span lang="es" class="multilang">Haga clic aquí para ver el video Cómo utilizar la biblioteca de videos.</span>
        <span lang="fr" class="multilang">Cliquez ici pour regarder la vidéo sur Comment se servir de la vidéothèque.</span>
        <span lang="id" class="multilang">Klik di sini untuk menonton Cara Menggunakan Pustaka Video.</span>
        <span lang="it" class="multilang">Fai clic qui per visualizzare il video Come utilizzare la videoteca.</span>
        <span lang="nl" class="multilang">Klik hier om de video 'De videobibliotheek gebruiken' te bekijken.</span>
        <span lang="pt_br" class="multilang">Clique aqui para ver o vídeo Como Usar a Mediateca.</span>
        <span lang="ta" class="multilang">வீடியோ லைப்ரரி வீடியோவை எப்படி பயன்படுத்துவது என்பதைப் பார்க்க இங்கே கிளிக் செய்யவும்.</span>
        <span lang="th" class="multilang">คลิกที่นี่เพื่อดูวิธีการใช้วิดีโอในคลังวิดีโอ</span>
        <span lang="vi" class="multilang">Nhấp vào đây để xem video Cách Sử Dụng Thư Viện Video.</span>
        <span lang="hi" class="multilang">वीडियो लाइब्रेरी के वीडियो का उपयोग करने का तरीका देखने के लिए यहाँ क्लिक करें। </span>
        <span lang="te" class="multilang">వీడియో లైబ్రరీ వీడియోని చూడటానికి ఇక్కడ క్లిక్ చేయండి.</span>
        <span lang="ko" class="multilang">여기를 클릭하면 동영상 자료실 이용법을 보실 수 있습니다.</span>
        <span lang="ja" class="multilang">ここをクリックして、ビデオ・ライブラリの使い方のビデオを見ます。</span>
        <span lang="zh_cn" class="multilang">单击这里观看“如何使用视频库”视频。</span>
    </a>
</p>
<p>
    <!-- 2 -->
    <span lang="en" class="multilang">To play a video, click on the orange "Play" link. To download, click on the orange "Download" link.</span>
    <span lang="de" class="multilang">Zum Abspielen eines Videos klicken Sie auf den orangen „Play”-Link. Zum Herunterladen klicken Sie auf den orangen „Download”-Link.</span>
    <span lang="es" class="multilang">Haga clic sobre el enlace naranja "Reproducir" para ver un video. Haga clic sobre el enlace naranja "Descargar" para descargarlo.</span>
    <span lang="fr" class="multilang">Pour jouer une vidéo, cliquez sur le lien orange « Jouer ». Pour télécharger, cliquez sur le lien orange « Télécharger ».</span>
    <span lang="id" class="multilang">Untuk memutar video, klik tautan "Putar" berwarna oranye. Untuk mengunduh, klik tautan "Unduh" berwarna oranye.</span>
    <span lang="it" class="multilang">Per riprodurre un video, fai clic sul link arancione “Riproduci”.</span>
    <span lang="nl" class="multilang">Om een video af te spelen, klik je op de oranje koppeling 'Afspelen'. Om te downloaden, klik je op de oranje koppeling 'Downloaden'.</span>
    <span lang="pt_br" class="multilang">Para reproduzir o vídeo, clique no link cor de laranja "Reproduzir". Para transferir, clique no link cor de laranja "Transferir".</span>
    <span lang="ta" class="multilang">வீடியோவை இயக்க, ஆரஞ்சு நிற “இயக்கு” இணைப்பைக் கிளிக் செய்யவும். பதிவிறக்க, ஆரஞ்சு நிற “பதிவிறக்கு” இணைப்பைக் கிளிக் செய்யவும்.</span>
    <span lang="th" class="multilang">เล่นวิดีโอโดยคลิกที่ลิงก์ "เล่น" สีส้ม ดาวน์โหลดโดยคลิกที่ลิงก์ "ดาวน์โหลด" สีส้ม</span>
    <span lang="vi" class="multilang">Để phát một video, nhấp vào liên kết "Phát" màu cam. Để tải về, nhấp vào liên kết "Tải Xuống" màu cam.</span>
    <span lang="hi" class="multilang">वीडियो चलाने के लिए, नारंगी "चलाएँ" ("Play") लिंक पर क्लिक करें। डाउनलोड करने के लिए, नारंगी "डाउनलोड करें" (Download) लिंक पर क्लिक करें।</span>
    <span lang="te" class="multilang">ఒక వీడియో ప్లే చేయడానికి, నారింజ రంగు "ప్లే" లింక్ పైన క్లిక్ చేయండి. డౌన్లోడ్ చేయడానికి, నారింజ రంగు "డౌన్లోడ్" లింక్ పైన క్లిక్ చేయండి.</span>
    <span lang="ko" class="multilang">동영상을 재생하시려면 오렌지색 “재생” 링크를 클릭하십시오. 다운로드하시려면 오렌지색 “다운로드” 링크를 클릭하십시오.</span>
    <span lang="ja" class="multilang">ビデオを再生するには、オレンジの「プレイ」リンクをクリックします。ダウンロードするには、オレンジの「ダウンロード」リンクをクリックします。</span>
    <span lang="zh_cn" class="multilang">要播放视频，请单击橙色的“播放”链接。要下载，请单击橙色的“下载”链接。</span>
</p>
<p>
    <!-- 3 -->
    <span lang="en" class="multilang">To sort the list in alphabetical order, click on the desired column header name.</span>
    <span lang="de" class="multilang">Wenn Sie die Liste alphabetisch sortieren wollen, klicken Sie auf die Spaltenbezeichnung.</span>
    <span lang="es" class="multilang">Haga clic sobre el nombre de encabezado de columna deseado para clasificar la lista en orden alfabético.</span>
    <span lang="fr" class="multilang">Pour trier la liste dans l'ordre alphabétique, cliquez sur le nom d'en-tête de rubrique souhaité.</span>
    <span lang="id" class="multilang">Untuk mengurutkan daftar menurut abjad, klik nama judul kolom yang diinginkan.</span>
    <span lang="it" class="multilang">Per ordinare alfabeticamente l’elenco, fai clic sul nome dell’intestazione della colonna desiderata.</span>
    <span lang="nl" class="multilang">Om de lijst alfabetisch te sorteren, klik je op de gewenste kolomnaam.</span>
    <span lang="pt_br" class="multilang">Para ordenar a lista por ordem alfabética, clique na cabeçalho da coluna desejada.</span>
    <span lang="ta" class="multilang">பட்டியலை அகரவரிசையில் வரிசைப்படுத்த, விருமப்பும் தலைப்பு பெயர் மீது கிளிக் செய்யவும்.</span>
    <span lang="th" class="multilang">จัดเรียงรายการตามลำดับตัวอักษรโดยคลิกที่ชื่อหัวคอลัมน์ตามต้องการ</span>
    <span lang="vi" class="multilang">Để sắp xếp danh sách theo thứ tự bảng chữ cái, nhấp vào tên đầu đề cột mong muốn.</span>
    <span lang="hi" class="multilang">सूची को वर्णमाला क्रम में क्रमबद्ध करने के लिए, वांछित कॉलम हैडर नाम पर क्लिक करें। </span>
    <span lang="te" class="multilang">అక్షర క్రమంలో జాబితాను వేరు చేయడానికి, కావలసిన కాలమ్ హెడర్ పైన క్లిక్ చేయండి.</span>
    <span lang="ko" class="multilang">사전 순으로 정렬하시려면 정렬하시고자 하는 열의 제목을 클릭하십시오.</span>
    <span lang="ja" class="multilang">リストをアルファベット順に並べるには、望みのコラム・ヘッダー名をクリックします。</span>
    <span lang="zh_cn" class="multilang">要按字母顺序对列表排序，请单击想要的列标题名称。</span></p>
<p>
    <!-- 4 -->
    <span lang="en" class="multilang">To search for a video or a group of videos, click on the Search tab. Fill out the information you are looking for then click on 'Save settings.' To go back to the original list, click on 'Reset Filters.'</span>
    <span lang="de" class="multilang">Wenn Sie ein Video oder eine Videoreihe suchen, klicken Sie auf den Reiter „Suchen”. Geben Sie die Daten zum gesuchten Video ein und klicken Sie anschließend auf „Einstellungen speichern”. Mit „Filter zurücksetzen” gelangen Sie zur ursprünglichen Liste zurück.</span>
    <span lang="es" class="multilang">Haga clic sobre la pestaña Buscar para buscar un video o un grupo de videos. Complete la información que busca y luego haga clic sobre 'Guardar ajustes'. Haga clic sobre 'Reiniciar filtros' para regresar a la lista original.</span>
    <span lang="fr" class="multilang">Pour chercher une vidéo ou un jeu de vidéos, cliquez sur l'onglet de Recherche. Saisissez les informations que vous cherchez et puis cliquez sur 'Enregistrer les paramètres.' Pour retourner à la liste originale, cliquez sur 'Réinitialiser les Filtres.'</span>
    <span lang="id" class="multilang">Untuk mencari video atau kelompok video, klik tab Cari. Isi informasi yang ingin Anda cari, lalu klik 'Simpan pengaturan.' Untuk kembali ke daftar asli, klik 'Reset Filters.'</span>
    <span lang="it" class="multilang">Per cercare un video o un gruppo di video, fai clic sulla scheda Ricerca. Compila le informazioni che cerchi, quindi fai clic su “Salva impostazioni”. Per tornare all’elenco iniziale, fai clic su “Azzera filtri”.</span>
    <span lang="nl" class="multilang">Om een video of een groep video's te zoeken, klik je op het tabblad 'Zoeken'. Vul de gegevens in die je zoekt en klik vervolgens op 'Instellingen opslaan'. Om terug te gaan naar de oorspronkelijke lijst, klik je op 'Filters resetten'.</span>
    <span lang="pt_br" class="multilang">Para pesquisar por um vídeo ou um grupo de vídeo, clique na aba de Pesquisa. Preencha a informação que procura e depois clique em "Salvar definições". Para voltar à lista original, clique em "Limpar Filtros".</span>
    <span lang="ta" class="multilang">வீடியோ அல்லது குழு வீடியோக்களைத் தேட, தேடல் தாவலைக் கிளிக் செய்யவும். நீங்கள் தேடும் தகவலை நிரப்பி, “அமைப்புகளைச் சேமி” என்பதைக் கிளிக் செய்யவும். அசல் பட்டியலிற்கு மீண்டும் செல்ல, “வடிகட்டிகளை மீட்டமை” என்பதைக் கிளிக் செய்யவும்.</span>
    <span lang="th" class="multilang">ค้นหาวิดีโอหรือกลุ่มวิดีโอ โดยคลิกที่แถบค้นหา กรอกข้อมูลที่คุณกำลังหา จากนั้นคลิกที่ บันทึการตั้งค่า' กลับไปยังรายการเดิมโดยคลิกที่ ตั้งตัวกรองใหม่'</span>
    <span lang="vi" class="multilang">Để tìm kiếm một đoạn video hoặc một nhóm các video, hãy nhấp vào tab Tìm Kiếm. Điền thông tin bạn đang tìm, sau đó nhấp vào 'Lưu thiết lập'. Để trở lại danh sách ban đầu, nhấp vào 'Cài Đặt Lại Các Bộ Lọc.'</span>
    <span lang="hi" class="multilang">किसी वीडियो या वीडियोज़ के समूह को खोजने के लिए, सर्च टैब पर क्लिक करें। वह जानकारी भरें, जिसे आप खोज रहे हैं और फिर 'सेटिंग्स सहेजें' (Save settings) पर क्लिक करें। मूल सूची पर वापस जाने के लिए, 'फ़िल्टर रीसेट करें' (Reset Filters) पर क्लिक करें।</span>
    <span lang="te" class="multilang">ఒక వీడియో లేదా వీడియోల సమూహాన్ని శోధించడానికి, శోధన ట్యాబ్ పైన క్లిక్ చేయండి. మీరు కోరుతున్న సమాచారాన్ని నింపండి తరువాత  'సెట్టింగ్లు సేవ్ చేయి' పైన క్లిక్ చేయండి. ఒరిజినల్ జాబితాకి తిరిగి వెళ్లడానికి, 'ఫిల్టర్లు రీసెట్ చేయి' పైన క్లిక్ చేయండి.</span>
    <span lang="ko" class="multilang">동영상이나 동영상 모음을 검색하시려면 검색 탭을 클릭하십시오. 찾으시는 정보를 기입하신 다음 “설정 저장”을 클릭하십시오. 원래 목록으로 돌아가시려면 “필터 리셋”을 클릭하십시오.</span>
    <span lang="ja" class="multilang">一つのビデオか、一群のビデオを捜すには、サーチ・タブをクリックします。捜している情報を記入してから、『設定の保存』をクリックします。元のリストに戻るには、『フィルターのリセット』をクリックします。</span>
    <span lang="zh_cn" class="multilang">要搜索某视频或一组视频，请单击“搜索”选项卡。填写您要查找的信息，然后单击“保存设置”。要返回原始列表，请单击“重置过滤器”。</span></p>