<h2><i class="fa fa-question"></i>
    <span lang="en" class="multilang">Help / Q&A</span>
    <span lang="de" class="multilang">Help / Q&A</span>
    <span lang="es" class="multilang">Ayuda / PyR</span>
    <span lang="fr" class="multilang">Aide / Q&R</span>
    <span lang="id" class="multilang">Bantuan / Tanya-Jawab</span>
    <span lang="it" class="multilang">Guida / Q&A</span>
    <span lang="nl" class="multilang">Help/V&A</span>
    <span lang="pt_br" class="multilang">Ajuda/Perguntas e respostas</span>
    <span lang="ta" class="multilang">ช่วยเหลือ / คำถามและคำตอบ</span>
    <span lang="th" class="multilang">ช่วยเหลือ / คำถามและคำตอบ</span>
    <span lang="vi" class="multilang">Trợ Giúp / Hỏi & Đáp</span>
    <span lang="hi" class="multilang">सहायता / Q&A</span>
    <span lang="te" class="multilang">సహాయం / ప్ర&జ</span>
    <span lang="ko" class="multilang">도움말 / 질문 답변</span>
    <span lang="ja" class="multilang">ヘルプ / Q&A</span>
    <span lang="zh_cn" class="multilang">帮助/问与答</span>
</h2>

<span lang="en" class="multilang"><p>JLG U help provides you with the resources to answer questions and enhance your online training experience.</p></span>
<span lang="de" class="multilang"><p>In der JLG U-Hilfe finden Sie die Ressourcen zur Beantwortung der Fragen und zur Verbesserung Ihres Lernerfolgs</p></span>
<span lang="es" class="multilang"><p>La ayuda de JLG U le proporciona recursos para responder preguntas y mejorar su experiencia de capacitación en línea</p></span>
<span lang="fr" class="multilang"><p>JLG U vous aide en mettant à votre disposition les ressources pour répondre à vos questions et améliorer votre expérience de formation en ligne.</p></span>
<span lang="id" class="multilang"><p>JLG U membantu menyediakan sumberdaya bagi Anda untuk menjawab pertanyaan dan meningkatkan pengalaman pelatihan online Anda.</p></span>
<span lang="it" class="multilang"><p>La guida JLG U fornisce le risorse per rispondere alle domande e migliorare la tua esperienza di formazione on line.</p></span>
<span lang="nl" class="multilang"><p>De Help van JLG U biedt je de hulpmiddelen om vragen te beantwoorden en je online trainingservaring te verbeteren.</p></span>
<span lang="pt_br" class="multilang"><p>A Universidade JLG fornece os recursos para responder a questões e aumentar sua experiência de treinamento online.</p></span>
<span lang="ta" class="multilang"><p>கேள்விகளுக்குப் பதிலளிக்கவும் ஆன்லைன் பயிற்சி அனுபவத்தை மேம்படுத்தவும் உதவும் ஆதாரங்களை  JLG U உதவி வழங்குகிறது.</p></span>
<span lang="th" class="multilang"><p>JLG U มีข้อมูลสำหรับตอบคำถามสำหรับคุณและเพิ่มประสบการณ์ในการฝึกอบรมแบบออนไลน์ของคุณ </p></span>
<span lang="vi" class="multilang"><p>JLG U giúp cung cấp cho bạn những tài nguyên để giải đáp các thắc mắc và cải thiện trải nghiệm huấn luyện trực tuyến của bạn.</p></span>
<span lang="hi" class="multilang"><p>JLG U सहायता आपको प्रश्नों के उत्तर देने के लिए संसाधन उपलब्ध कराती है और आपके ऑनलाइन प्रशिक्षण अनुभव को बेहतर बनाती है।</p></span>
<span lang="te" class="multilang"><p>జెఎల్జి యు సహాయం ప్రశ్నలకు జవాబు ఇవ్వడానికి మీకు వనరులను అందజేసి సహాయం చేస్తుంది మరియు మీ ఆన్లైన్ శిక్షణ అనుభవాన్ని పెంచుతుంది.</p></span>
<span lang="ko" class="multilang"><p>JLG U의 도움말은 질문에 대한 답변을 제공하고 온라인 트레이닝 경험에 대한 만족도를 높여줍니다.</p></span>
<span lang="ja" class="multilang"><p>JLG大学は、質問に答え、オンラインのトレーニング経験を強化するために、リソースを提供する手助けをします。</p></span>
<span lang="zh_cn" class="multilang"><p>JLGU“帮助”向您提供资源，来解答问题和增强您的在线培训体验。</p></span>


<div><a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242" class="btn">
    <span lang="en" class="multilang">Find Help</span>
    <span lang="de" class="multilang">Hilfe finden</span>
    <span lang="es" class="multilang">Buscar ayuda</span>
    <span lang="fr" class="multilang">Chercher l'Aide</span>
    <span lang="id" class="multilang">Cari Bantuan</span>
    <span lang="it" class="multilang">Trova guida</span>
    <span lang="nl" class="multilang">Zoek Help</span>
    <span lang="pt_br" class="multilang">Encontrar Ajuda</span>
    <span lang="ta" class="multilang">உதவியைக் கண்டுபிடி</span>
    <span lang="th" class="multilang">ดูความช่วยเหลือ</span>
    <span lang="vi" class="multilang">Tìm Kiếm Sự Trợ Giúp</span>
    <span lang="hi" class="multilang">सहायता खोजें</span>
    <span lang="te" class="multilang">సహాయం కనుగొనండి</span>
    <span lang="ko" class="multilang">Find Help</span>
    <span lang="ja" class="multilang">Find Help</span>
    <span lang="zh_cn" class="multilang">查找帮助</span>
</a></div>



