<span lang="en" class="multilang">Play</span>
<span lang="de" class="multilang">Play</span>
<span lang="es" class="multilang">Reproducir</span>
<span lang="fr" class="multilang">Jouer</span>
<span lang="id" class="multilang">Putar</span>
<span lang="it" class="multilang">Riproduci</span>
<span lang="nl" class="multilang">Afspelen</span>
<span lang="pt_br" class="multilang">Reproduzir</span>
<span lang="ta" class="multilang">இயக்கு</span>
<span lang="th" class="multilang">เล่น</span>
<span lang="vi" class="multilang">Phát</span>
<span lang="hi" class="multilang">चलाएँ </span>
<span lang="te" class="multilang">డౌన్లోడ్</span>
<span lang="ko" class="multilang">재생</span>
<span lang="ja" class="multilang">プレイ</span>
<span lang="zh_cn" class="multilang">播放</span>