<h2>
    <span lang="en" class="multilang">JLG U Contact List</span>
    <span lang="de" class="multilang">JLG U Kontaktliste</span>
    <span lang="es" class="multilang">Lista de contacto de JLG U</span>
    <span lang="fr" class="multilang">Liste des coordonnées JLG U</span>
    <span lang="id" class="multilang">Daftar Kontak JLG U</span>
    <span lang="it" class="multilang">Elenco contatti JLG U</span>
    <span lang="nl" class="multilang">Contactenlijst JLG U</span>
    <span lang="pt_br" class="multilang">Lista de Contatos da Universidade JLG</span>
    <span lang="ta" class="multilang">JLG U தொடர்புப் பட்டியல்</span>
    <span lang="th" class="multilang">รายการติดต่อสำหรับ JLG U</span>
    <span lang="vi" class="multilang">Danh Sách Liên Hệ JLG U</span>
    <span lang="hi" class="multilang">JLG U संपर्क सूची</span>
    <span lang="te" class="multilang">జెఎల్జి యు సంప్రదింపు జాబితా</span>
    <span lang="ko" class="multilang">JLG U 연락처 목록</span>
    <span lang="ja" class="multilang">JLG大学の連絡先リスト</span>
    <span lang="zh_cn" class="multilang">JLG U 联系方式列表</span>
</h2>

<p>
    <span lang="en" class="multilang">If you need help with JLGU, find your region in the list below then call the phone number listed. Click on your country name to see the region's number/s.</span>
    <span lang="de" class="multilang">Wenn Sie Hilfe benötigen, suchen Sie Ihre Region in der folgenden Liste und rufen eine der genannten Nummern an. Klicken Sie Ihr Land an, um die Rufnummer(n) einzusehen. </span>
    <span lang="es" class="multilang">Si necesita ayuda con JLGU, busque su región en la lista a continuación y luego llame al número telefónico indicado. Haga clic sobre el nombre de su país para ver el/los número(s) de la región.</span>
    <span lang="fr" class="multilang">Si vous avez besoin d'aide avec JLGU, retrouvez votre région dans la liste ci-dessous et puis téléphonez au numéro de téléphone indiqué. Cliquez sur le nom de votre pays pour voir le(s) numéro(s) de la région.</span>
    <span lang="id" class="multilang">Jika memerlukan bantuan dengan JLGU, cari wilayah Anda dari daftar berikut ini, kemudian panggil nomor yang tertera. Klik nama negara Anda untuk melihat nomor wilayah.</span>
    <span lang="it" class="multilang">Se occorre assistenza relativa a JLGU, individua la tua area geografica nell’elenco in basso e telefona al numero indicato. Fai clic sul nome del tuo paese, per visualizzare i numeri dell’area geografica.</span>
    <span lang="nl" class="multilang">Als je hulp nodig hebt met JLGU, kun je je regio opzoeken in onderstaande lijst en vervolgens het vermelde telefoonnummer bellen. Klik op de landennaam om het nummer/de nummers van de regio weer te geven.</span>
    <span lang="pt_br" class="multilang">Se você precisar de ajuda com a JLGU, encontre sua região na lista abaixo e depois disque o número de telefone listado. Clique no nome de seu país para ver o(s) número(s) da região(ões).</span>
    <span lang="ta" class="multilang">JLGU இன் உதவி தேவைப்பட்டால், உங்கள் பகுதியை கீழேயுள்ள பட்டியலில் கண்டுபிடித்து, அதிலுள்ள தொலைபேசி எண்ணிற்கு அழைக்கவும். பகுதி எண்களைப் பார்க்க, உங்கள் நாட்டின் பெயர் மீது கிளிக் செய்யவும்.</span>
    <span lang="th" class="multilang">หากต้องการความช่วยเหลือสำหรับ JLGU ดูภูมิภาคของคุณในรายการด้านล่าง จากนั้นโทรตามหมายเลขโทรศัพท์ที่อยู่ในรายการ คลิกที่ชื่อประเทศเพื่อดูหมายเลขสำหรับภูมิภาค</span>
    <span lang="vi" class="multilang">Nếu bạn cần được giúp đỡ với JLGU, hãy tìm khu vực của bạn trong danh sách bên dưới sau đó gọi số điện thoại trong danh sách. Nhấp vào tên quốc gia của bạn để xem các số điện thoại của khu vực.</span>
    <span lang="hi" class="multilang">यदि आपको JLGU से कोई सहायता चाहिए, तो नीचे सूची में अपना क्षेत्र खोजें और फिर सूचीबद्ध फोन नंबर पर कॉल करें। क्षेत्र के नंबर देखने के लिए अपने देश के नाम पर क्लिक करें। </span>
    <span lang="te" class="multilang">జెఎల్జియు నుండి మీకు సహాయం అవసరమైతే, మీ ప్రాంతాన్ని క్రింది జాబితా నుండి కనుగొనండి తరువాత జాబితా చేసిన ఫోన్ నంబర్కి కాల్ చేయండి. ప్రాంతం యొక్క నంబర్/లు చూడటానికి మీ దేశం పేరు పైన క్లిక్ చేయండి.</span>
    <span lang="ko" class="multilang">JLGU의 도움이 필요하시다면 아래 목록에서 지역을 찾으신 다음 제공된 전화 번호로 문의해주십시오. 국가명을 클릭하시면 지역 전화번호를 보실 수 있습니다.</span>
    <span lang="ja" class="multilang">JLGUのヘルプが必要であれば、以下のリストで地域を見つけてから、リストの番号に電話してください。国名をクリックして、地域の番号を見つけてください。</span>
    <span lang="zh_cn" class="multilang">如果您在使用 JLGU 方面需要帮助，请从下面的列表中找出您的地区，然后拨打所列号码。单击您的国家名称以查看地区号码。</span>
</p>
<div style="padding: 10px; height: 400px; width: 90%; display: block; margin-left: auto; margin-right: auto;" class="ui-widget-content">
    <div class="doAccordion rein-plugin">
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">NORTH AMERICA</span>
                <span lang="de" class="multilang">NORDAMERIKA</span>
                <span lang="es" class="multilang">NORTEAMÉRICA</span>
                <span lang="fr" class="multilang">AMÉRIQUE DU NORD</span>
                <span lang="id" class="multilang">AMERIKA UTARA</span>
                <span lang="it" class="multilang">NORD AMERICA</span>
                <span lang="nl" class="multilang">NOORD-AMERIKA</span>
                <span lang="pt_br" class="multilang">AMÉRICA DO NORTE</span>
                <span lang="ta" class="multilang">வட அமெரிக்கா</span>
                <span lang="th" class="multilang">อเมริการเหนือ</span>
                <span lang="vi" class="multilang">BẮC MỸ</span>
                <span lang="hi" class="multilang">उत्तरी अमेरिका</span>
                <span lang="te" class="multilang">ఉత్తర అమెరికా</span>
                <span lang="ko" class="multilang">북미</span>
                <span lang="ja" class="multilang">北米</span>
                <span lang="zh_cn" class="multilang">北美</span>
            </a>
        </h3>
        <div>
            <p>+1 877-554-5438</p>
        </div>
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">SOUTH AMERICA</span>
                <span lang="de" class="multilang">SÜDAMERIKA</span>
                <span lang="es" class="multilang">SURAMÉRICA</span>
                <span lang="fr" class="multilang">AMÉRIQUE DU SUD</span>
                <span lang="id" class="multilang">AMERIKA SELATAN</span>
                <span lang="it" class="multilang">SUD AMERICA</span>
                <span lang="nl" class="multilang">ZUID-AMERIKA</span>
                <span lang="pt_br" class="multilang">AMÉRICA DO SUL</span>
                <span lang="ta" class="multilang">தென் அமெரிக்கா</span>
                <span lang="th" class="multilang">อเมริกาใต้</span>
                <span lang="vi" class="multilang">NAM MỸ</span>
                <span lang="hi" class="multilang">दक्षिणी अमेरिका</span>
                <span lang="te" class="multilang">దక్షిణ అమెరికా</span>
                <span lang="ko" class="multilang">남미</span>
                <span lang="ja" class="multilang">南米</span>
                <span lang="zh_cn" class="multilang">南美</span>
            </a>
        </h3>
        <div>
            <p>0800 8482 554 Option 6</p>
        </div>
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">AUSTRALIA</span>
                <span lang="de" class="multilang">AUSTRALIENA</span>
                <span lang="es" class="multilang">AUSTRALIA</span>
                <span lang="fr" class="multilang">AUSTRALIE</span>
                <span lang="id" class="multilang">AUSTRALIA</span>
                <span lang="it" class="multilang">AUSTRALIA</span>
                <span lang="nl" class="multilang">AUSTRALIË</span>
                <span lang="pt_br" class="multilang">AUSTRÁLIA</span>
                <span lang="ta" class="multilang">ஆஸ்திரேலியா</span>
                <span lang="th" class="multilang">ออสเตรเลีย</span>
                <span lang="vi" class="multilang">ÚC</span>
                <span lang="hi" class="multilang">ऑस्ट्रेलिया</span>
                <span lang="te" class="multilang">ఆస్ట్రేలియా</span>
                <span lang="ko" class="multilang">호주</span>
                <span lang="ja" class="multilang">オーストラリア</span>
                <span lang="zh_cn" class="multilang">澳大利亚</span>
            </a>
        </h3>
        <div>
            <p>+62 2 65 81 1111</p>
        </div>
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">AFRICA/MIDDLE EAST</span>
                <span lang="de" class="multilang">AFRIKA/NAHER OSTEN</span>
                <span lang="es" class="multilang">ÁFRICA/MEDIO ORIENTE</span>
                <span lang="fr" class="multilang">AFRIQUE/MOYEN-ORIENT</span>
                <span lang="id" class="multilang">AFRIKA/TIMUR TENGAH</span>
                <span lang="it" class="multilang">AFRICA/MEDIO ORIENTE</span>
                <span lang="nl" class="multilang">AFRIKA/MIDDEN-OOSTEN</span>
                <span lang="pt_br" class="multilang">ÁFRICA/ORIENTE MÉDIO</span>
                <span lang="ta" class="multilang">ஆப்பிரிக்கா/மத்திய கிழக்கு</span>
                <span lang="th" class="multilang">แอฟริกา/ตะวันออกกลาง</span>
                <span lang="vi" class="multilang">CHÂU PHI/TRUNG ĐÔNG</span>
                <span lang="hi" class="multilang">अफ्रीका/मध्य पूर्वी देश</span>
                <span lang="te" class="multilang">ఆఫ్రికా/మధ్య ప్రాచ్యం</span>
                <span lang="ko" class="multilang">아프리카/중동</span>
                <span lang="ja" class="multilang">アフリカ／中東 </span>
                <span lang="zh_cn" class="multilang">非洲/中东</span>
            </a>
        </h3>
        <div>
            <p>+971 (0)4 884 1131</p>
        </div>
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">EUROPE</span>
                <span lang="de" class="multilang">EUROPA</span>
                <span lang="es" class="multilang">EUROPA</span>
                <span lang="fr" class="multilang">EUROPE</span>
                <span lang="id" class="multilang">EROPA</span>
                <span lang="it" class="multilang">EUROPA</span>
                <span lang="nl" class="multilang">EUROPA</span>
                <span lang="pt_br" class="multilang">EUROPA</span>
                <span lang="ta" class="multilang">ஐரோப்பா</span>
                <span lang="th" class="multilang">ยุโรป</span>
                <span lang="vi" class="multilang">CHÂU ÂU</span>
                <span lang="hi" class="multilang">यूरोप</span>
                <span lang="te" class="multilang">ఐరోపా</span>
                <span lang="ko" class="multilang">유럽</span>
                <span lang="ja" class="multilang">ヨーロッパ</span>
                <span lang="zh_cn" class="multilang">欧洲</span>
            </a>
        </h3>
        <div>
            <p>The Netherlands: +31 (0)23 569 8751</p>
            <p>France: +33 553 84 85 78</p>
            <p>Germany: +49 421 693 5010</p>
            <p>Iberica: +34 93 77 24700</p>
            <p>Italy: +39 02 9359 5210</p>
            <p>Nordic Region: +46 8 506 59500</p>
            <p>United Kingdom: +44 161 654 1000</p>
        </div>
        <h3 class="accordion-header">
            <a href="#">
                <span lang="en" class="multilang">ASIA</span>
                <span lang="de" class="multilang">ASIEN</span>
                <span lang="es" class="multilang">ASIA</span>
                <span lang="fr" class="multilang">ASIE</span>
                <span lang="id" class="multilang">ASIA</span>
                <span lang="it" class="multilang">ASIA</span>
                <span lang="nl" class="multilang">AZIË</span>
                <span lang="pt_br" class="multilang">ÁSIA</span>
                <span lang="ta" class="multilang">ஆசியா</span>
                <span lang="th" class="multilang">เอเชีย</span>
                <span lang="vi" class="multilang">CHÂU Á</span>
                <span lang="hi" class="multilang">एशिया</span>
                <span lang="te" class="multilang">ఆసియా</span>
                <span lang="ko" class="multilang">아시아</span>
                <span lang="ja" class="multilang">アジア</span>
                <span lang="zh_cn" class="multilang">亚洲</span>
            </a>
        </h3>
        <div>
            <p>China: +86 186 1689 5319</p>
            <p>All other countries including India: +65 6591 9034</p>
        </div>
    </div>
</div>
