<p style="text-align:center;font-size:medium;">
    <a href="http://jlgu.jlg.com/mod/page/view.php?id=12244" id="yui_3_15_0_3_1440006081919_1421">
        <span lang="en" class="multilang">Contact your JLGU Representative</span>
        <span lang="de" class="multilang">Kontaktieren Sie Ihren JLGU-Vertreter</span>
        <span lang="es" class="multilang">Póngase en contacto con su representante de JLGU</span>
        <span lang="fr" class="multilang">Contactez votre Représentant JLGU</span>
        <span lang="id" class="multilang">Hubungi Perwakilan JLGU</span>
        <span lang="it" class="multilang">Contatta il rappresentante JLGU</span>
        <span lang="nl" class="multilang">Neem contact op met je JLGU-vertegenwoordiger</span>
        <span lang="pt_br" class="multilang">Contate seu Representante JLG</span>
        <span lang="ta" class="multilang">உங்கள் JLGU பிரதிநிதியை தொடர்புகொள்ளவும்</span>
        <span lang="th" class="multilang">ติดต่อตัวแทนของ JLGU</span>
        <span lang="vi" class="multilang">Liên hệ với Đại Diện JLGU</span>
        <span lang="hi" class="multilang">अपने JLGU प्रतिनिधि से संपर्क करें</span>
        <span lang="te" class="multilang">మీ జెఎల్జియు ప్రతినిధిని సంప్రదించండి</span>
        <span lang="ko" class="multilang">JLGU 담당자에게 문의하세요.</span>
        <span lang="ja" class="multilang">JLGUの代表者に連絡してください。</span>
        <span lang="zh_cn" class="multilang">联系您的 JLGU 代表</span>
    </a>
</p>