<p style="color:#f5f5f5;">
    <span lang="en" class="multilang">Before you can access JLGU or enroll into one of our classes you will first need an account with JLGU.</span>
    <span lang="de" class="multilang">Bevor Sie auf die JLGU oder einen Kurs zugreifen können, müssen Sie ein JLGU-Konto anlegen.</span>
    <span lang="es" class="multilang">Antes de poder acceder a JLGU o inscribirse en una de nuestras clases primero necesitará una cuenta con JLGU.</span>
    <span lang="fr" class="multilang">Avant de pouvoir accéder à JLGU ou vous inscrire dans un de nos cours il vous faudra d'abord un compte auprès de JLGU.</span>
    <span lang="id" class="multilang">Sebelum dapat membuka JLGU atau mengikuti salah satu dari empat kelas pertama-tama Anda memerlukan akun JLGU.</span>
    <span lang="it" class="multilang">Prima di poter accedere a JLGU o iscriverti a una delle nostre lezioni devi innanzitutto avere un account presso JLGU.</span>
    <span lang="nl" class="multilang">Voordat je toegang hebt tot JLGU of je kunt inschrijven voor een van onze lessen heb je eerst een account nodig bij JLGU.</span>
    <span lang="pt_br" class="multilang">Antes de poder aceder à JLGU ou se inscrever em uma de nossas aulas você vai precisar de uma conta com a JLGU.</span>
    <span lang="ta" class="multilang">JLGU ஐ அணுக அல்லது எங்களின் ஏதாவது ஒரு வகுப்பில் சேர, உங்களுக்கு ஒரு JLGU கணக்குத் தேவை.</span>
    <span lang="th" class="multilang">ก่อนเข้าถึง JLGU หรือลงทะเบียนในชั้นเรียนใดๆ ของเรา คุณต้องมีบัญชี JLGU</span>
    <span lang="vi" class="multilang">Trước khi bạn có thể truy cập JLGU hoặc ghi danh tham gia một trong các lớp của chúng tôi trước tiên bạn sẽ cần có một tài khoản với JLGU.</span>
    <span lang="hi" class="multilang">इससे पहले कि आप JLGU एक्सेस कर सकें या हमारी कक्षाओं में से किसी एक में पंजीकरण कर सकें आपको JLGU के साथ एक खाता बनाने की ज़रूरत होगी</span>
    <span lang="te" class="multilang">జెఎల్జియు ప్రాప్తి లేదా మా తరగతులలో ఒకదానిలో నమోదు చేయుకోవడానికి ముందు మీకు ముందుగా జెఎల్జియుతో ఒక ఖాతా అవసరము.</span>
    <span lang="ko" class="multilang">JLGU에 접속하거나 수업에 참여하시려면 JLGU 계정이 필요합니다.</span>
    <span lang="ja" class="multilang">あなたは、JLGUにアクセスできるか、クラスの一つに登録できる前に、まず最初に、JLGUのアカウントを必要とします。</span>
    <span lang="zh_cn" class="multilang">在您可以访问 JLGU 或注册我们的一个课程之前，您首先需要注册一个 JLGU 帐户。</span>
</p>
<p style="color:#f5f5f5;">
    <span lang="en" class="multilang">Click the “Create new account” link below to get started.</span>
    <span lang="de" class="multilang">Klicken Sie dazu unten auf den Link „Konto anlegen”.</span>
    <span lang="es" class="multilang">Haga clic sobre el enlace “Crear una nueva cuenta” a continuación para comenzar.</span>
    <span lang="fr" class="multilang">Cliquez sur le lien « Créer un nouveau compte » ci-dessous pour démarrer.</span>
    <span lang="id" class="multilang">Klik “Buat akun” di bawah untuk memulai.</span>
    <span lang="it" class="multilang">Per iniziare, fai clic sul link in basso “Crea nuovo account”.</span>
    <span lang="nl" class="multilang">Klik op de koppeling 'Nieuwe account maken' om te beginnen.</span>
    <span lang="pt_br" class="multilang">Clique no link "Criar nova conta" abaixo para começar.</span>
    <span lang="ta" class="multilang">தொடங்குவதற்கு கீழேயுள்ள “புதிய கணக்கை உருவாக்கு” என்ற இணைப்பைக் கிளிக் செய்யவும்.</span>
    <span lang="th" class="multilang">คลิกลิงก์ “สร้างบัญชีใหม่” ด้านล่างเพื่อเริ่มต้น</span>
    <span lang="vi" class="multilang">Nhấp vào liên kết "Tạo tài khoản mới" bên dưới để bắt đầu.</span>
    <span lang="hi" class="multilang">शुरू करने के लिए, नीचे “नया खाता बनाएँ” लिंक पर क्लिक करें।</span>
    <span lang="te" class="multilang">ప్రారంభించడానికి క్రింద  “కొత్త ఖాతా సృష్టించు” లింక్ క్లిక్ చేయండి.</span>
    <span lang="ko" class="multilang">아래의 “새로운 계정 만들기”를 클릭하여 등록을 시작하세요.</span>
    <span lang="ja" class="multilang">以下の「新規アカウントの作成」のリンクをクリックして、始めてください。</span>
    <span lang="zh_cn" class="multilang">请单击下面的“创建新帐户”链接以开始。</span>
</p>


