<h2>
    <span lang="en" class="multilang">JLG Training Schedule</span>
    <span lang="de" class="multilang">JLG Schulungsplan</span>
    <span lang="es" class="multilang">Cronograma de capacitación de JLG</span>
    <span lang="fr" class="multilang">Programme de formation JLG</span>
    <span lang="id" class="multilang">Jadwal Pelatihan JLG</span>
    <span lang="it" class="multilang">Programma di formazione JLG</span>
    <span lang="nl" class="multilang">Trainingsoverzicht JLG</span>
    <span lang="pt_br" class="multilang">Programa de Treinamento JLG</span>
    <span lang="ta" class="multilang">JLG பயிற்சி அட்டவணை</span>
    <span lang="th" class="multilang">กำหนดการฝึกอบรมของ JLG</span>
    <span lang="vi" class="multilang">Lịch Huấn Luyện JLG</span>
    <span lang="hi" class="multilang">JLG प्रशिक्षण कार्यक्रम </span>
    <span lang="te" class="multilang">జెఎల్జి శిక్షణ షెడ్యూల్</span>
    <span lang="ko" class="multilang">JLG 트레이닝 일정</span>
    <span lang="ja" class="multilang">JLG トレーニング予定</span>
    <span lang="zh_cn" class="multilang">JLG 培训时间表</span>
</h2>

<p>
    <span lang="en" class="multilang">For North America</span>
    <span lang="de" class="multilang">Für Nordamerika</span>
    <span lang="es" class="multilang">Para Norteamérica</span>
    <span lang="fr" class="multilang">Pour l'Amérique du Nord</span>
    <span lang="id" class="multilang">Untuk Amerika Utara</span>
    <span lang="it" class="multilang">Per il Nord America</span>
    <span lang="nl" class="multilang">Voor Noord-Amerika</span>
    <span lang="pt_br" class="multilang">para a América do Norte</span>
    <span lang="ta" class="multilang">வட அமெரிக்கா</span>
    <span lang="th" class="multilang">สำหรับอเมริกาเหนือ</span>
    <span lang="vi" class="multilang">Đối với Bắc Mỹ</span>
    <span lang="hi" class="multilang">उत्तरी अमेरिका के लिए</span>
    <span lang="te" class="multilang">ఉత్తర అమెరికా కొరకు</span>
    <span lang="ko" class="multilang">북미지역</span>
    <span lang="ja" class="multilang">北米向け</span>
    <span lang="zh_cn" class="multilang">适用于北美地区</span>
</p>

<p style="margin-left:30px;">
    <a target="_blank" href="http://www.jlg.com/-/media/jlg/current-materials-no-password/non-product-media/training/training%20schedules/2015%20training%20schedule.pdf?mw=la=en">
        <span lang="en" class="multilang">Download 2015 Training Schedule (PDF)</span>
        <span lang="de" class="multilang">Schulungsplan 2015 herunterladen (PDF)</span>
        <span lang="es" class="multilang">Descargar el Cronograma de capacitación 2015 (PDF)</span>
        <span lang="fr" class="multilang">Téléchargez le Programme de Formation 2015 (PDF)</span>
        <span lang="id" class="multilang">Unduh Jadwal Pelatihan 2015 (PDF)</span>
        <span lang="it" class="multilang">Download del Programma di formazione 2015 (PDF)</span>
        <span lang="nl" class="multilang">Download het trainingsoverzicht voor 2015 (pdf)</span>
        <span lang="pt_br" class="multilang">Transfira o Programa de Treinamento para 2015 (PDF)</span>
        <span lang="ta" class="multilang">2௦15 பயிற்சி அட்டவணையைப் (PDF) பதிவிறக்கு</span>
        <span lang="th" class="multilang">ดาวน์โหลดกำหนดการฝึกอบรมประจำปี 2015 (PDF)</span>
        <span lang="vi" class="multilang">Tải Về Lịch Huấn Luyện Năm 2015 (PDF)</span>
        <span lang="hi" class="multilang">2015 का प्रशिक्षण कार्यक्रम डाउनलोड करें (PDF)</span>
        <span lang="te" class="multilang">2015 శిక్షణ షెడ్యూల్ డౌన్లోడ్ చేయండి (పిడిఎఫ్)</span>
        <span lang="ko" class="multilang">2015년 트레이닝 일정 다운로드 (PDF)</span>
        <span lang="ja" class="multilang">2015年トレーニング予定 (PDF)</span>
        <span lang="zh_cn" class="multilang">下载 2015 培训时间表 (PDF)</span>
    </a>
</p>

<p>
    <span lang="en" class="multilang">For all other regions</span>
    <span lang="de" class="multilang">Für alle anderen Länder</span>
    <span lang="es" class="multilang">Para todas las demás regiones</span>
    <span lang="fr" class="multilang">Pour toutes les autres régions</span>
    <span lang="id" class="multilang">Untuk wilayah lainnya</span>
    <span lang="it" class="multilang">Per tutte le altre aree geografiche</span>
    <span lang="nl" class="multilang">Voor alle overige regio's</span>
    <span lang="pt_br" class="multilang">Para todas as outras regiões</span>
    <span lang="ta" class="multilang">மற்ற அனைத்து பகுதிகளுக்கு</span>
    <span lang="th" class="multilang">สำหรับภูมิภาคอื่นทั้งหมด</span>
    <span lang="vi" class="multilang">Đối với tất cả các khu vực khác</span>
    <span lang="hi" class="multilang">अन्य सभी क्षेत्रों के लिए</span>
    <span lang="te" class="multilang">మిగిలిన అన్ని ప్రాంతాలకు</span>
    <span lang="ko" class="multilang">2015년 트레이닝 일정 다운로드 (PDF)
다른 모든 지역은</span>
    <span lang="ja" class="multilang">のダウンロード
 その他の全地域向け</span>
    <span lang="zh_cn" class="multilang">适用于所有其他地区</span>
</p>

<p style="margin-left:30px;">
    <a href="http://jlgu.jlg.com/mod/page/view.php?id=12244">
        <span lang="en" class="multilang">Contact your region</span>
        <span lang="de" class="multilang">Setzen Sie sich mit Ihrem Regionalkontakt in Verbindung</span>
        <span lang="es" class="multilang">Póngase en contacto con su región</span>
        <span lang="fr" class="multilang">Contactez votre région</span>
        <span lang="id" class="multilang">Hubungi wilayah Anda</span>
        <span lang="it" class="multilang">Rivolgiti al contatto regionale</span>
        <span lang="nl" class="multilang">Neem contact op met je regio</span>
        <span lang="pt_br" class="multilang">Contate sua região</span>
        <span lang="ta" class="multilang">உங்கள் பகுதியைத் தொடர்புகொள்ளவும்</span>
        <span lang="th" class="multilang">ติดต่อภูมิภาคของคุณ</span>
        <span lang="vi" class="multilang">Liên hệ với khu vực của bạn</span>
        <span lang="hi" class="multilang">अपने क्षेत्र से संपर्क करें</span>
        <span lang="te" class="multilang">డౌన్లోడ్</span>
        <span lang="ko" class="multilang">해당 지역 사무소에 문의하십시오.</span>
        <span lang="ja" class="multilang">各地域の連絡先</span>
        <span lang="zh_cn" class="multilang">联系您所在的地区</span>
    </a>
</p>
