<h2><i class="fa fa-video-camera"></i>
    <span lang="en" class="multilang">Video Library</span>
    <span lang="de" class="multilang">Videobibliothek</span>
    <span lang="es" class="multilang">Biblioteca de videos</span>
    <span lang="fr" class="multilang">Vidéothèque</span>
    <span lang="id" class="multilang">Perpustakaan Video</span>
    <span lang="it" class="multilang">Videoteca</span>
    <span lang="nl" class="multilang">Videobibliotheek</span>
    <span lang="pt_br" class="multilang">Mediateca</span>
    <span lang="ta" class="multilang">வீடியோ லைப்ரரி</span>
    <span lang="th" class="multilang">คลังวิดีโอ</span>
    <span lang="vi" class="multilang">Thư Viện Video</span>
    <span lang="hi" class="multilang">वीडियो लाइब्रेरी</span>
    <span lang="te" class="multilang">వీడియే లైబ్రరీ</span>
    <span lang="ko" class="multilang">동영상 자료실</span>
    <span lang="ja" class="multilang">ビデオライブラリ</span>
    <span lang="zh_cn" class="multilang">视频库</span>
</h2>

<span lang="en" class="multilang"><p>Find, watch, or download all the operator and safety videos available for JLG users.</p></span>
<span lang="de" class="multilang"><p>Hier finden Sie alle Bedien- und Sicherheitsvideos für JLG-Nutzer, die Sie ansehen und herunterladen können.</p></span>
<span lang="es" class="multilang"><p>Buscar, mirar o descargar todos los videos sobre operador o seguridad disponibles para usuarios de JLG.</p></span>
<span lang="fr" class="multilang"><p>Retrouvez, regardez ou téléchargez toutes les vidéos d'opérateur et de sécurité mises à disposition des utilisateurs JLG.</p></span>
<span lang="id" class="multilang"><p>Temukan, saksikan, atau unsuh semua video operator dan video keselamatan yang tersedia bagi pengguna JLG.</p></span>
<span lang="it" class="multilang"><p>Trova, guarda o scarica tutti i video sugli operatori e la sicurezza a disposizione degli utenti JLG.</p></span>
<span lang="nl" class="multilang"><p>Zoek, bekijk of download alle bedienings- en veiligheidsvideo's die beschikbaar zijn voor JLG-gebruikers.</p></span>
<span lang="pt_br" class="multilang"><p>Encontre, veja ou transfira todos os vídeos de operador e segurança disponíveis para usuários JLG.</p></span>
<span lang="ta" class="multilang"><p>JLG பயனர்களுக்கான எல்லா ஆபரேட்டர் மற்றும் பாதுகாப்பு வீடியோக்களைக் கண்டுபிடிக்கலாம், பார்க்கலாம் அல்லது பதிவிறக்கலாம்.</p></span>
<span lang="th" class="multilang"><p>หา ดู หรือดาวน์โหลดวิดีโอผู้ปฏิบัติงานและความปลอดภัยทั้งหมดที่มีสำหรับผู้ใช้ JLG</p></span>
<span lang="vi" class="multilang"><p>Tìm, xem, hoặc tải về tất cả video về người vận hành và vấn đề an toàn dành cho người dùng JLG.</p></span>
<span lang="hi" class="multilang"><p>JLG उपयोगकर्ताओं के लिए उपलब्ध सभी संचालक और सुरक्षा वीडियो खोजें, देखें और डाउनलोड करें।</p></span>
<span lang="te" class="multilang"><p>జెఎల్జి వినియోగదారుల కొరకు అందుబాటులో ఉండే ఆపరేటర్ మరియు సురక్షత వీడియోలు కనుగొనండి, చూడండి, లేదా డౌన్లోడ్ చేయండి.</p></span>
<span lang="ko" class="multilang"><p>JLG 사용자를 위한 모든 작업자 및 안전 동영상을 찾아서 시청하시거나 다운로드하십시오.</p></span>
<span lang="ja" class="multilang"><p>JLGユーザに利用できる、全部のオペレータと安全のビデオを見つけて、見て、ダウンロードします。</p></span>
<span lang="zh_cn" class="multilang"><p>查找、观看或下载面向 JLG 用户提供的所有操作员和安全教育视频。</p></span>

<div><a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242" class="btn">
    <span lang="en" class="multilang">Watch Videos</span>
    <span lang="de" class="multilang">Video herunterladen</span>
    <span lang="es" class="multilang">Ver videos</span>
    <span lang="fr" class="multilang">Regarder les Vidéos</span>
    <span lang="id" class="multilang">Tonton Video</span>
    <span lang="it" class="multilang">Guarda i video</span>
    <span lang="nl" class="multilang">Video's weergeven</span>
    <span lang="pt_br" class="multilang">Ver vídeos</span>
    <span lang="ta" class="multilang">வீடியோக்களைப் பார்</span>
    <span lang="th" class="multilang">ดูวิดีโอ</span>
    <span lang="vi" class="multilang">Xem Video</span>
    <span lang="hi" class="multilang">वीडियो देखें</span>
    <span lang="te" class="multilang">వీడియోలు చూడండి</span>
    <span lang="ko" class="multilang">Watch Videos</span>
    <span lang="ja" class="multilang">ビデオを見る</span>
    <span lang="zh_cn" class="multilang">观看视频</span>
</a></div>



