<p>
    <a href="http://jlgu.jlg.com/mod/page/view.php?id=5517">
        <span lang="en" class="multilang">Click here to view PDF versions of these course descriptions.</span>
        <span lang="de" class="multilang">Klicken Sie hier, wenn Sie die PDF-Version der Kursbeschreibung aufrufen wollen.</span>
        <span lang="es" class="multilang">Haga clic aquí para ver versiones en PDF de las descripciones de estos cursos.</span>
        <span lang="fr" class="multilang">Cliquez ici pour visualiser les versions en PDF des descriptifs des cours.</span>
        <span lang="id" class="multilang">Klik di sini untuk membaca keterangan pelatihan versi PDF.</span>
        <span lang="it" class="multilang">Fai clic qui per visualizzare le versioni PDF di queste descrizioni dei corsi.</span>
        <span lang="nl" class="multilang">Klik hier om pdf-versies van deze cursusbeschrijvingen weer te geven.</span>
        <span lang="pt_br" class="multilang">Clique aqui para ver as versões PDF destas descrições dos cursos.</span>
        <span lang="ta" class="multilang">பாடத்திட்ட விளக்கத்தின் PDF பதிப்புகளை பார்க்க, இங்கே கிளிக் செய்யவும்.</span>
        <span lang="th" class="multilang">คลิกที่นี่เพื่อดูคำอธิบายหลักสูตรเหล่านี้ในเวอร์ชั่น PDF</span>
        <span lang="vi" class="multilang">Nhấp vào đây để xem phiên bản PDF của các mô tả khóa học này.</span>
        <span lang="hi" class="multilang">पाठ्यक्रमों के विवरणों के PDF संस्करण देखने के लिए यहाँ क्लिक करें।</span>
        <span lang="te" class="multilang">ఈ కోర్సు వివరాల యొక్క పిడిఎఫ్ వెర్షన్లు ఇక్కడ ఉన్నాయి.</span>
        <span lang="ko" class="multilang">여기를 클릭하면 PDF 파일로 만들어진 코스 설명을 보실 수 있습니다.</span>
        <span lang="ja" class="multilang">ここをクリックして、これらの課程の内容のPDFバージョンを見ます。</span>
        <span lang="zh_cn" class="multilang">请单击这里查看这些课程说明的 PDF 版本。</span>
    </a>
</p>
<p>--</p>
<p>
    <span lang="en" class="multilang">View courses in a specific language below by clicking on the language of your choice, or search for a particular course using the search bar.</span>
    <span lang="de" class="multilang">Wählen Sie unten die Sprache aus, in der Ihnen der Kurs angezeigt werden soll oder nutzen Sie das Suchfeld, um einen bestimmten Kurs aufzurufen.</span>
    <span lang="es" class="multilang">Vea cursos en un idioma específico a continuación haciendo clic sobre el idioma de su elección, o busque un curso en particular utilizando la barra de búsqueda.</span>
    <span lang="fr" class="multilang">Visualisez les cours dans une langue particulière ci-dessous en cliquant sur la langue de votre choix ou cherchez un cours spécifique en utilisant la barre de recherche.</span>
    <span lang="id" class="multilang">Baca pelatihan dalam bahasa tertentu dengan mengeklik bahasa pilihan Anda, atau cari pelatihan tertentu dengan bilah pencarian.</span>
    <span lang="it" class="multilang">Visualizza i corsi in una particolare lingua indicata di seguito, facendo clic sulla lingua preferita, oppure cerca un corso particolare tramite la barra di ricerca.</span>
    <span lang="nl" class="multilang">Bekijk cursussen in een bepaalde taal hieronder door op de taal van je keuze te klikken, of zoek naar een bepaalde cursus via de zoekbalk.</span>
    <span lang="pt_br" class="multilang">Veja cursos em uma língua específica abaixo clicando na língua de sua escolha,  ou pesquise por um curso em particular usando a barra de pesquisa.</span>
    <span lang="ta" class="multilang">கீழே உங்களுக்கு விருப்பமான மொழியில் கிளிக் செய்து, பாடப்பிரிவுகளை விரும்பும் மொழியில் பார்க்கவும் அல்லது தேடல் பட்டியலைப் பயன்படுத்தி குறிப்பிட்ட பாடப்பிரிவைத் தேடவும்.</span>
    <span lang="th" class="multilang">ดูหลักสูตรในภาษาที่ต้องการได้ด้านล่าง โดยคลิกที่ภาษาทีคุณเลือก หรือค้นหาหลักสูตรเฉพาะโดยใช้แถบค้นหา</span>
    <span lang="vi" class="multilang">Xem các khóa học bằng một ngôn ngữ cụ thể ở bên dưới bằng cách nhấp vào ngôn ngữ bạn chọn, hoặc tìm một khóa học cụ thể dùng thanh tìm kiếm.</span>
    <span lang="hi" class="multilang">अपनी पसंदीदा भाषा पर क्लिक करके किसी विशेष भाषा में पाठ्यक्रम देखें, या सर्च बार का उपयोग करते हुए किसी विशेष पाठ्यक्रम को खोजें।</span>
    <span lang="te" class="multilang">మీరు ఎంచుకున్న భాష పైన క్లిక్ చేయడం ద్వారా కోర్సులను నిర్దిష్ట భాషలో వీక్షించండి, లేదా శోధన బార్ ఉపయోగించి ప్రత్యేకమైన కోర్సును శోధించండి.</span>
    <span lang="ko" class="multilang">사용 언어를 선택하여 아래에 특정 언어로 코스를 보시거나 검색 바를 이용하여 특정 코스를 검색하실 수 있습니다.</span>
    <span lang="ja" class="multilang">以下の選択の言語をクリックして、特定の言語での課程を見るか、サーチバーを使って、特定の課程を捜します。</span>
    <span lang="zh_cn" class="multilang">请单击您选择的语言，查看特定语言版本的课程，或者使用搜索栏搜索特定课程。</span>
</p>
<!-- Buttons to sort by language below -->
<p><a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=1" class="btn">English</a> <a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=2" class="btn"> Español</a> <a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=3" class="btn"> Français</a> <a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=4" class="btn"> Italiano</a> <a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=5" class="btn"> Português </a> <a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242&amp;mode=cat&amp;hook=6" class="btn">简体中国</a></p>