<h2><i class="fa fa-shopping-cart"></i>
    <span lang="en" class="multilang">JLGU Store</span>
    <span lang="de" class="multilang">JLGU Shop</span>
    <span lang="es" class="multilang">Tienda JLGU</span>
    <span lang="fr" class="multilang">Magasin JLGU</span>
    <span lang="id" class="multilang">Toko JLGU</span>
    <span lang="it" class="multilang">JLGU Store</span>
    <span lang="nl" class="multilang">JLGU Store</span>
    <span lang="pt_br" class="multilang">Loja JLG</span>
    <span lang="ta" class="multilang">JLGU ஸ்டோர்</span>
    <span lang="th" class="multilang">JLGU Store</span>
    <span lang="vi" class="multilang">JLGU Store</span>
    <span lang="hi" class="multilang">JLGU स्टोर</span>
    <span lang="te" class="multilang">జెఎల్జియు స్టోర్</span>
    <span lang="ko" class="multilang">JLGU 스토어</span>
    <span lang="ja" class="multilang">JLGUストア</span>
    <span lang="zh_cn" class="multilang">JLGU Store</span>
</h2>

<span lang="en" class="multilang"><p>Browse the store to purchase and sign up for classes.</p></span>
<span lang="de" class="multilang"><p>Durchsuchen Sie den Shop, um einen Kurs zu buchen und sich zu registrieren.</p></span>
<span lang="es" class="multilang"><p>Navegar por la tienda para comprar e inscribirse a clases.</p></span>
<span lang="fr" class="multilang"><p>Naviguez le magasin pour acheter et vous inscrire dans les cours.</p></span>
<span lang="id" class="multilang"><p>Jelajahi toko untuk membayar dan mendaftar ke kelas-kelas.</p></span>
<span lang="it" class="multilang"><p>Naviga nel negozio per acquistare e iscriverti alle lezioni. </p></span>
<span lang="nl" class="multilang"><p>Blader in de Store om lessen aan te schaffen en je ervoor aan te melden.</p></span>
<span lang="pt_br" class="multilang"><p>Navegue pela loja para fazer compras e se inscrever em suas aulas.</p></span>
<span lang="ta" class="multilang"><p>வாங்குவதற்கும் வகுப்புகளில் பதிவுசெய்வதற்கும் ஸ்டோரில் உலாவவும்.</p></span>
<span lang="th" class="multilang"><p>ค้นหาร้านที่จะซื้อและสมัครชั้นเรียน</p></span>
<span lang="vi" class="multilang"><p>Duyệt tìm trong cửa hàng để mua và đăng ký các lớp học.</p></span>
<span lang="hi" class="multilang"><p>कक्षाओं के लिए खरीदारी और साइन अप करने के लिए स्टोर ब्राउज़ करें।</p></span>
<span lang="te" class="multilang"><p>తరగతుల కొరకు కొనుగోలు చేయడానికి మరియు సైన్ అప్ చేయడానికి స్టోర్ బ్రౌజ్ చేయండి.</p></span>
<span lang="ko" class="multilang"><p>스토어를 검색하여 수업을 구입하시고 등록하십시오.</p></span>
<span lang="ja" class="multilang"><p>ストアをブラウズして、クラスにサインナップします。</p></span>
<span lang="zh_cn" class="multilang"><p>浏览商店以购买和注册课程。</p></span>


<div><a href="http://jlgu.jlg.com/mod/glossary/view.php?id=12242" class="btn">
    <span lang="en" class="multilang">Enroll</span>
    <span lang="de" class="multilang">Registrieren</span>
    <span lang="es" class="multilang">Inscribirse</span>
    <span lang="fr" class="multilang">S'inscrire</span>
    <span lang="id" class="multilang">Pendaftaran</span>
    <span lang="it" class="multilang">Iscriviti</span>
    <span lang="nl" class="multilang">Inschrijven</span>
    <span lang="pt_br" class="multilang">Se inscrever</span>
    <span lang="ta" class="multilang">பதிவுசெய்</span>
    <span lang="th" class="multilang">ลงทะเบียน</span>
    <span lang="vi" class="multilang">Ghi danh</span>
    <span lang="hi" class="multilang">नामांकन करें</span>
    <span lang="te" class="multilang">నమోదు</span>
    <span lang="ko" class="multilang">Enroll</span>
    <span lang="ja" class="multilang">入学</span>
    <span lang="zh_cn" class="multilang">注册</span>
</a></div>



