<span lang="en" class="multilang">Video Library Database</span>
<span lang="de" class="multilang">Videobibliotheksdatenbank</span>
<span lang="es" class="multilang">Base de datos de la biblioteca de videos</span>
<span lang="fr" class="multilang">Base de données de vidéothèque</span>
<span lang="id" class="multilang">Database Pustaka Video</span>
<span lang="it" class="multilang">Database videoteca</span>
<span lang="nl" class="multilang">Database videobibliotheek</span>
<span lang="pt_br" class="multilang">Banco de dados da mediateca</span>
<span lang="ta" class="multilang">வீடியோ லைப்ரரி தரவுத்தளம்</span>
<span lang="th" class="multilang">Cơ Sở Dữ Liệu Thư Viện Video</span>
<span lang="vi" class="multilang">Đăng nhập</span>
<span lang="hi" class="multilang">वीडियो लाइब्रेरी डेटाबेस</span>
<span lang="te" class="multilang">వీడియో లైబ్రరీ డేటాబేస్</span>
<span lang="ko" class="multilang">동영상 자료실 데이터베이스</span>
<span lang="ja" class="multilang">ビデオライブラリのデータベース</span>
<span lang="zh_cn" class="multilang">视频库数据库</span>