<h2>
    <span class="multilang" lang="en">Video Library</span>
    <span lang="de" class="multilang">Videobibliothek</span>
    <span lang="es" class="multilang">Biblioteca de videos</span>
    <span lang="fr" class="multilang">Vidéothèque</span>
    <span lang="id" class="multilang">Pustaka Video</span>
    <span lang="it" class="multilang">Videoteca</span>
    <span lang="nl" class="multilang">Videobibliotheek</span>
    <span lang="pt_br" class="multilang">Mediateca</span>
    <span lang="ta" class="multilang">வீடியோ லைப்ரரி </span>
    <span lang="th" class="multilang">คลังวิดีโอ </span>
    <span lang="vi" class="multilang">Thư Viện Video</span>
    <span lang="hi" class="multilang">वीडियो लाइब्रेरी</span>
    <span lang="te" class="multilang">వీడియో లైబ్రరీ </span>
    <span lang="ko" class="multilang">동영상 자료실</span>
    <span lang="ja" class="multilang">ビデオライブラリ </span>
    <span lang="zh_cn" class="multilang">登录</span>
    <span class="multilang" lang="zh_cn">视频库</span>
</h2>
<p> 
    <span class="multilang" lang="en">The Video Library provides you with operator and safety videos to enhance your training experience. Click on the database link to access the current list of videos.</span>
    <span lang="de" class="multilang">In der Videobibliothek finden Sie Bedien- und Sicherheitsvideos zur Erweiterung Ihrer Trainingserfahrung.</span>
    <span lang="es" class="multilang">La Biblioteca de videos le proporciona los videos sobre operador y seguridad para mejorar su experiencia de capacitación.</span>
    <span lang="fr" class="multilang">La Vidéothèque vous propose des vidéos d'opérateur et de sécurité pour améliorer votre expérience de formation. Cliquez sur le lien de la base de données pour accéder à la liste actuelle des vidéos.</span>
    <span lang="id" class="multilang">Pustaka Video berisi jasa operator dan video keselamatan untuk meningkatkan pembelajaran. Klik tautan database untuk membuka daftar video saat ini.</span>
    <span lang="it" class="multilang">La videoteca propone video sugli operatori e la sicurezza, per rendere più efficace la tua esperienza formativa, Fai clic sul link database per accedere all’attuale elenco di video. </span>
    <span lang="nl" class="multilang">De videobibliotheek bevat bedienings- en veiligheidsvideo's om je trainingservaring te verbeteren. Klik op de databasekoppeling voor toegang tot de huidige lijst met video's. </span>
    <span lang="pt_br" class="multilang">A Mediateca lhe fornece vídeos do operador e de segurança par aumentar sua experiência de treinamento. Clique no link do banco de dados para aceder à lista atual de vídeos. </span>
    <span lang="ta" class="multilang">வீடியோ லைப்ரரி உங்களின் பயிற்சி அனுபவத்தை மேம்படுத்தும் ஆபரேட்டர் மற்றும் பாதுகாப்பு வீடியோக்களை வழங்குகிறது. நடப்பு வீடியோக்களின் பட்டியலை அணுக, தரவுத்தள இணைப்பைக் கிளிக் செய்யவும். </span>
    <span lang="th" class="multilang">คลังวิดีโอมีวิดีโอผู้ปฏิบัติงานและความปลอดภัยเพื่อเพิ่มประสบการณ์การฝึกอบรมของคุณ คลิกที่ลิงก์ฐานข้อมูลเพื่อเข้าถึงรายการวิดีโอในปัจจุบัน </span>
    <span lang="vi" class="multilang">Thư Viện Video cung cấp cho bạn các video về người vận hành và sự an toàn để cải thiện trải nghiệm học tập của bạn. Nhấp vào liên kết cơ sở dữ liệu để truy cập danh sách các video hiện tại.</span>
    <span lang="hi" class="multilang"> वीडियो लाइब्रेरी आपके प्रशिक्षण अनुभव को बेहतर बनाने के लिए आपको संचालक और सुरक्षा संबंधित वीडियो उपलब्ध कराती है। वीडियोज़ की वर्तमान सूची एक्सेस करने के लिए डेटाबेस लिंक पर क्लिक करें।</span>
    <span lang="te" class="multilang">మీ శిక్షణ అనుభవాన్ని పెంచేందుకు వీడియో లైబ్రరీ మీకు ఆపరేటర్ మరియు సురక్షత వీడియోలను అందిస్తుంది. ప్రస్తుత వీడియోల జాబితా ప్రాప్తి చేయడానికి డేటాబేస్ లింక్ పైన క్లిక్ చేయండి. </span>
    <span lang="ko" class="multilang">동영상 자료실은 사용자를 위한 모든 작업자 및 안전 동영상을 제공하여 트레이닝 만족도를 높입니다.  현재 동영상 목록에 접속하려면 데이터베이스 링크를 클릭하십시오. </span>
    <span lang="ja" class="multilang">ビデオライブラリでは、トレーニングの経験を強化するために、オペレータと安全のビデオを提供しています。データベースのリンクをクリックして、現在のビデオのリストにアクセスします。 </span>
    <span lang="zh_cn" class="multilang">库为您提供操作员和安全教育视频，以增强您的培训体验。单击数据库链接以访问最新视频列表。 </span>
</p>
<p>
    <i class="fa fa-video-camera"></i>
    <a target="_blank" href="http://jlgu.jlg.com/mod/page/view.php?id=2577">
        <span class="multilang" lang="en">Watch the video on How To Use The Video Library</span>
        <span lang="de" class="multilang">Sehen Sie sich das Video zur Nutzung der Videobibliothek an</span>
        <span lang="es" class="multilang">Ver el video sobre Cómo utilizar la biblioteca de videos</span>
        <span lang="fr" class="multilang">Regardez la vidéo sur Comment se servir de la vidéothèque</span>
        <span lang="id" class="multilang">Tonton video tentang Cara Menggunakan Pustaka Video</span>
        <span lang="it" class="multilang">Guarda il video su come utilizzare la videoteca</span>
        <span lang="nl" class="multilang">Bekijk de video 'De videobibliotheek gebruiken'</span>
        <span lang="pt_br" class="multilang">Veja o vídeo Como Usar a Mediateca</span>
        <span lang="ta" class="multilang">வீடியோ லைப்ரரியைப் எப்படி பயன்படுத்துவது என்ற வீடியோவைப் பார்க்கவும்</span>
        <span lang="th" class="multilang">ดูวิดีโอวิธีการใช้คลังวิดีโอ</span>
        <span lang="vi" class="multilang">Xem video Cách Sử Dụng Thư Viện Video</span>
        <span lang="hi" class="multilang">वीडियो लाइब्रेरी का उपयोग करने के तरीके पर वीडियो देखें </span>
        <span lang="te" class="multilang">వీడియే లైబ్రరీ ఎలా ఉపయోగించాలో గురించి వీడియోని చూడండి</span>
        <span lang="ko" class="multilang">동영상 자료실 이용 방법에 관한 영상을 시청하십시오</span>
        <span lang="ja" class="multilang">ビデオライブラリの使い方に関するビデオを見ます。</span>
        <span lang="zh_cn" class="multilang">观看关于“如何使用视频库”的视频</span>
    </a>
</p>
<p>
    <i class="fa fa-database"></i>
    <a href="http://jlgu.jlg.com/mod/data/view.php?id=1907">
        <span lang="en" class="multilang">Training Video Library Database</span>
        <span lang="de" class="multilang">Bibliotheksdatenbank für Schulungsvideos</span>
        <span lang="es" class="multilang">Base de datos de la biblioteca de videos</span>
        <span lang="fr" class="multilang">Base de données de la vidéothèque de la formation</span>
        <span lang="id" class="multilang">Database Pustaka Video Pelatihan</span>
        <span lang="it" class="multilang">Database videoteca video didattici</span>
        <span lang="nl" class="multilang">Database trainingsvideobibliotheek</span>
        <span lang="pt_br" class="multilang">Banco de dados da Mediateca de Treinamento</span>
        <span lang="ta" class="multilang">பயிற்சி வீடியோ லைப்ரரி தரவுத்தளம் </span>
        <span lang="th" class="multilang">ฐานข้อมูลคลังวิดีโอการฝึกอบรม</span>
        <span lang="vi" class="multilang">Cơ Sở Dữ Liệu Thư Viện Video Huấn Luyện</span>
        <span lang="hi" class="multilang">प्रशिक्षण वीडियो लाइब्रेरी डेटाबेस</span>
        <span lang="te" class="multilang">శిక్షణ వీడియో లైబ్రరీ డేటాబేస్</span>
        <span lang="ko" class="multilang">트레이닝 동영상 자료실 데이터베이스</span>
        <span lang="ja" class="multilang">トレーニング・ビデオライブラリ・データベース</span>
        <span lang="zh_cn" class="multilang">培训视频库数据库</span>
    </a>
</p>
<!-- 
<hr>
<p style="text-align: center;"><span style="font-size: medium;"><strong><span style="font-size: large;"><span class="multilang" lang="en"> Video Library </span><span class="multilang" lang="zh_cn">视频库</span></span><br /></strong></span></p>
<p><span style="font-size: medium;"><span class="multilang" lang="en"> The Video Library provides you with operator and safety videos to enhance your training experience. Click on the database link to access the current list of videos. </span><span class="multilang" lang="zh_cn">视频库为您提供安全操作视频，增强您的培训经验。访问视频列表，点击数据库链接</span><br /><br /></span></p>
<table style="width: 395px; height: 10px;" border="0">
<tbody>
<tr>
<td valign="top"><img src="http://jlgu.jlg.com/draftfile.php/96/user/draft/789900277/icon.png" height="17" width="16" /></td>
<td valign="top"><span style="font-size: small;"><span class="multilang" lang="en"><a target="_blank" href="http://jlgu-t.jlg.com/mod/url/view.php?id=2578"> </a><a target="_blank" href="http://jlgu.jlg.com/mod/page/view.php?id=2577">Watch the video on How To Use The Video Library</a></span><span class="multilang" lang="zh_cn"> <a target="_blank" href="http://jlgu-t.jlg.com/mod/url/view.php?id=2578"> </a><a target="_blank" href="http://jlgu-t.jlg.com/mod/page/view.php?id=2577">观看视频; 怎样使用视频库</a></span></span></td>
</tr>
<tr>
<td valign="top"><span style="color: #ffffff;"></span></td>
<td valign="top"><span style="color: #ffffff;">.</span></td>
</tr>
<tr>
<td valign="top"><span style="font-size: small;"><a href="http://jlgu-t.jlg.com/mod/url/view.php?id=2578"><img src="http://jlgu-t.jlg.com/draftfile.php/109/user/draft/506763449/videolibrary_mini.png" height="17" width="16" /></a></span></td>
<td valign="top"><span style="font-size: small;"><span style="font-size: medium;"><span class="multilang" lang="en"><a href="http://jlgu-t.jlg.com/mod/url/view.php?id=2578"> </a><a href="http://jlgu.jlg.com/mod/data/view.php?id=1907">Training Video Library Database</a></span><span class="multilang" lang="zh_cn"> <a href="http://jlgu-t.jlg.com/mod/url/view.php?id=2578"> </a><a href="http://jlgu.jlg.com/mod/data/view.php?id=1907">培训视频库</a></span></span></span></td>
</tr>
</tbody>
</table>
-->