<h2>
    <span lang="en" class="multilang">Welcome to JLG University</span>
    <span lang="de" class="multilang">Willkommen an der JLG University</span>
    <span lang="es" class="multilang">Bienvenido a la universidad JLG</span>
    <span lang="fr" class="multilang">Bienvenue à l'Université JLG</span>
    <span lang="id" class="multilang">Selamat datang di Universitas JLG</span>
    <span lang="it" class="multilang">Benvenuti alla JLG University</span>
    <span lang="nl" class="multilang">Welkom bij JLG University</span>
    <span lang="pt_br" class="multilang">Bem-vindo à Universidade JLG</span>
    <span lang="ta" class="multilang">JLG பல்கலைக்கழகத்திற்கு வரவேற்கிறோம்</span>
    <span lang="th" class="multilang">ยินดีต้อนรับสู่มหาวิทยาลัย JLG</span>
    <span lang="vi" class="multilang">Chào mừng bạn đến với JLG University</span>
    <span lang="hi" class="multilang">JLG यूनिवर्सिटी में आपका स्वागत है </span>
    <span lang="te" class="multilang">జెఎల్జి యూనివర్సిటీకి స్వాగతం</span>
    <span lang="ko" class="multilang">JLG University에 오신 것을 환영합니다</span>
    <span lang="ja" class="multilang">JLG大学にようこそ。</span>
    <span lang="zh_cn" class="multilang">欢迎光临 JLG University</span>
</h2>

<p>
<span lang="en" class="multilang">JLG University is designed to deliver training online while managing your class enrollments and training records, which can be accessed 24 hours/day, 7 days/week. We offer service and safety training at dedicated training centers around the U.S. Highly qualified instructors teach you how to operate and service your machine in the classroom while providing ample time for hands on training.</span>
<span lang="de" class="multilang">Die JLG University wurde für Online-Schulungen und zur Verwaltung Ihrer Anmeldungen und Schulungsaufzeichnungen entwickelt, die Sie 24 Stunden täglich an 7 Tagen pro Woche abrufen können. Wir bieten Service- und Sicherheitsschulungen in Schulungszentren in den USA an. Hoch qualifizierte Trainer zeigen Ihnen während der Schulung, wie Sie Ihre Maschine bedienen und warten und lassen Ihnen ausreichend Zeit für praktische Übungen.</span>
<span lang="es" class="multilang">La universidad JLG está pensada para proporcionar capacitación en línea al mismo tiempo que maneja sus inscripciones a clases y registros de capacitaciones, a los cuales puede acceder durante las 24 horas del día, los 7 días de la semana. Ofrecemos capacitación en servicio y seguridad en centros de capacitación dedicados en todo los EE.UU. Instructores altamente calificados le enseñan cómo operar y mantener su máquina en el salón de clases mientras proporciona amplio tiempo para capacitación práctica.</span>
<span lang="fr" class="multilang">L'Université JLG est conçue pour livrer la formation en ligne tout en gérant vos inscriptions dans des cours et vos dossiers de formation, auxquels vous pouvez accéder 24 heures/jour, 7 jours/semaine. Nous proposons la formation en entretien et en sécurité dans des centres de formation dédiés à travers les États-Unis. Des formateurs hautement qualifiés vous enseigneront comment exploiter et entretenir votre machine dans la salle de classe en vous donnant suffisamment de temps pour une formation pratique.</span>
<span lang="id" class="multilang">Universitas JLG dirancang untuk memberikan pelatihan online sambil mengelola absen kelas dan catatan pelatihan, yang dapat diakses 24 jam/hari, 7 hari/minggu. Kami menawarkan jasa dan pelatihan keselamatan di pusat pelatihan khusus di sekitar AS. Instruktur yang sangat berpengalaman akan melatih Anda secara langsung tentang cara mengoperasikan dan menyervis mesin di kelas.</span>
<span lang="it" class="multilang">JLG University è progettata per erogare la formazione on line e, al tempo stesso, gestire le tue iscrizioni alle lezioni e la documentazione sulla formazione, accessibile 24 ore al giorno, 7 giorni a settimana. Offriamo formazione su assistenza e sicurezza in centri didattici specifici in tutti gli Stati Uniti. Docenti altamente qualificati insegnano come gestire il funzionamento e l’assistenza della macchina in aula, assicurando un’ampia disponibilità di tempo per la formazione pratica.</span>
<span lang="nl" class="multilang">JLG University is ontworpen om online training te bieden, je inschrijvingen voor lessen en trainingsoverzichten te beheren, en is 24 uur per dag, 7 dagen per week toegankelijk. We bieden onderhouds- en veiligheidstrainingen in diverse trainingscentra in heel Amerika. Hooggekwalificeerde instructeurs leren je in een leslokaal hoe je je machine moet bedienen en onderhouden, en daarnaast is er ruim de tijd voor praktische trainingen.</span>
<span lang="pt_br" class="multilang">A Universidade JLG foi criada para fornecer treinamento online enquanto gere suas inscrições nas aulas e registros de treinamento, que podem ser acedidos 24 horas por dia, 7 dias por semana. Oferecemos treinamento de serviço e segurança e centros de treinamento dedicados espalhados pelos EUA. Instrutores altamente qualificados ensinam você a operar e usar sua máquina na sala de aula enquanto providenciam muito tempo para treinamento prático.</span>
<span lang="ta" class="multilang">JLG பல்கலைக்கழகம் மாணவர் சேர்க்கைகள் மற்றும் பயிற்சி அறிக்கைகளை நிர்வகிக்கும்போது, ஆன்லைன் பயிற்சி வழங்க 24 மணிநேரம்/நாள், 7 நாட்கள்/வாரம் அணுகக்கூடிய வகையில் வடிவமைக்கப்பட்டுள்ளது. அமெரிக்கா முழுவதும் உள்ள அர்ப்பணிப்புள்ள பயிற்சி மையங்களில் சேவை மற்றும் பாதுகாப்புப் பயிற்சியை வழங்குகிறோம். மிகவும் தகுதியான பயிற்றுனர்கள் வகுப்பறையில் போதுமான நேரம் செலவிட்டு பயிற்சியில் இயந்திரத்தை எப்படி இயக்குவது மற்றும் சர்வீஸ் செய்வது என்பது பற்றி கற்றுக்கொடுப்பார்கள்.</span>
<span lang="th" class="multilang">มหาวิทยาลัย JLG ออกแบบมาสำหรับการฝึกอบรมแบบออนไลน์ ขณะที่มีการจัดการลงทะเบียนชั้นเรียนและบันทึกการฝึกอบรมของคุณ ซึ่งสามารถเข้าถึงได้ 24 ชั่วโมง/วัน 7 วัน/สัปดาห์ เราให้บริการและการฝึกอบรมความปลอดภัยที่จัดขึ้นในศูนย์ฝึกอบรมทั่วสหรัฐฯ ผู้สอนซึ่งมีความเชี่ยวชาญสูงจะสอนวิธีการปฏิบัติงานและใช้เครื่องในห้องเรียน ขณะเดียวกันก็คอยให้ความช่วยเหลือคุณในการฝึกอบรม</span>
<span lang="vi" class="multilang">JLG University được thiết kế để tổ chức chương trình huấn luyện trực tuyến đồng thời quản lý hồ sơ ghi danh và huấn luyện của bạn, bạn có thể truy cập 24 giờ/ngày, 7 ngày/tuần. Chúng tôi tổ chức huấn luyện về bảo dưỡng và an toàn tại các trung tâm huấn luyện dành riêng trên khắp Hoa Kỳ. Các giảng viên có chuyên môn cao sẽ dạy bạn cách vận hành và bảo dưỡng máy trong lớp học đồng thời cung cấp nhiều thời gian huấn luyện thực tiễn.</span>
<span lang="hi" class="multilang">JLG यूनिवर्सिटी को आपकी कक्षा के नामांकन और प्रशिक्षण रिकॉर्ड्स का प्रबंधन करते हुए ऑनलाइन प्रशिक्षण प्रदान करने के लिए बनाया गया है, जिसे दिन में 24 घंटे और सप्ताह में 7 दिन एक्सेस किया जा सकता है। हम पूरे अमेरिका में फैले समर्पित प्रशिक्षण केन्द्रों पर सर्विस और सुरक्षा प्रशिक्षण प्रस्तुत करते हैं। उच्च योग्यता प्राप्त प्रशिक्षक आपको प्रायोगिक प्रशिक्षण के लिए पर्याप्त समय देते हुए अपनी मशीन को चलाने और उसकी सर्विस करने के तरीके सिखाते हैं।</span>
<span lang="te" class="multilang">మీ తరగతి నమోదులు మరియు శిక్షణ రికార్డులు ఆన్లైన్లో నిర్వహిస్తూ శిక్షణ అందించడానికి జెఎల్జి యూనివర్సిటీ రూపొందించబడినది, దీనిని 24 గంటలు/రోజు, 7 రోజులు/వారం ప్రాప్తి చేయవచ్చు. యు.ఎస్. అంతటా అంకితత్వంగల శిక్షణ కేంద్రాలలో మేము సేవ మరియు సురక్షతను అందజేస్తాము. అధిక నిపుణతగల అధ్యాపకులు మీరు మీ మిషిన్ని ఎలా నడపాలి మరియు సర్వీసు చేయాలో శిక్షణలో మీరు నిర్వహించడానికి తగినంత సమయం ఇస్తూ బోధిస్తారు.</span>
<span lang="ko" class="multilang">JLG University는 매일 24시간 접속할 수 있는 온라인 트레이닝을 제공하는 동시에 이용자의 수업 참여와 트레이닝 기록을 관리할 수 있도록 설계되었습니다. 미국 전역의 전담 트레이닝 센터에서 서비스 및 안전 교육을 제공합니다. 수준 높은 강사진이 교실 수업을 통해 여러분께 장치의 작동과 서비스에 대해 강의를 하는 한편 넉넉한 실습 시간을 제공합니다.</span>
<span lang="ja" class="multilang">JLG大学は、クラス登録とトレーニング記録を管理しながら、トレーニングをオンラインで配送するように設計されています。これは、1日24時間、週7日のアクセスが可能です。私たちは、米国内の専用のトレーニング・センターでサービスと安全トレーニングを提供しています。高い能力のあるインストラクターが、十分な時間に実践的なトレーニングを提供しながら、マシンをどのように操作して手入れするかをクラスルームで教えます。</span>
<span lang="zh_cn" class="multilang">JLG University 的用途是以在线方式提供培训，同时管理您的课程注册和培训记录，您每周 7 天、每天 24 小时均可访问 JLG University。我们通过设立在美国各地的专门培训中心提供服务和安全培训。高度合格的讲师在课堂上向您讲授如何操作和维修您的机器，同时提供充足的时间供学员动手实践。</span>
</p>

<p>
    <span lang="en" class="multilang">Before you can enroll into one of our classes, first you need a JLGU account. To get started, </span>
    <span lang="de" class="multilang">Bevor Sie sich zu einem Kurs anmelden können, benötigen Sie ein JLGU-Konto.</span>
    <span lang="es" class="multilang">Antes de poder inscribirse en una de nuestras clases, primero necesita una cuenta JLGU. Para comenzar, </span>
    <span lang="fr" class="multilang">Avant de vous inscrire dans un de nos cours, vous aurez tout d'abord besoin d'un compte JLGU. Pour démarrer, </span>
    <span lang="id" class="multilang">Sebelum dapat mengikuti salah satu dari empat kelas, pertama-tama Anda memerlukan akun JLGU. Untuk memulai, </span>
    <span lang="it" class="multilang">Prima di poterti iscrivere a una delle nostre lezioni, devi avere un account JLGU. Per iniziare, </span>
    <span lang="nl" class="multilang">Voor je je kunt inschrijven voor een van onze lessen, heb je eerst een JLGU-account nodig. Meld je om te beginnen aan </span>
    <span lang="pt_br" class="multilang">Antes de se inscrever em uma de nossas aulas, vai precisar de uma conta JLGU. Para começar, </span>
    <span lang="ta" class="multilang">ஏதாவது ஒரு வகுப்பில் சேர்வதற்கு, ஒரு JLGU கணக்கு அவசியம். தொடங்குவதற்கு, </span>
    <span lang="th" class="multilang">ก่อนที่จะลงทะเบียนในชั้นเรียนของเรา คุณต้องมีบัญชี JLGU ในตอนเริ่มต้น ต้องสมัครบัญชีใหม่</span>
    <span lang="vi" class="multilang">Trước khi bạn có thể ghi danh tham gia một trong các lớp của chúng tôi, trước tiên bạn cần có một tài khoản JLGU. Để bắt đầu, hãy đăng ký một tài khoản mới.</span>
    <span lang="hi" class="multilang">इससे पहले कि आप हमारी कक्षाओं में से किसी एक में नामांकन कर सकें, आपको एक JLGU खाता बनाने की ज़रूरत होगी। शुरू करने हेतु, एक नया खाता बनाने के लिए साइन अप करें।</span>
    <span lang="te" class="multilang"> మా తరగతులలో ఒకదానిలో నమోదు చేసుకోవడానికి ముందు, మీకు ఒక జెఎల్జియు ఖాతా అవసరమవుతుంది. ప్రారంభించడానికి, ఒక కొత్త ఖాతాకి సైన్ అప్ చేయండి.</span>
    <span lang="ko" class="multilang">저희 수업에 참여하시려면 JLGU 계정이 필요합니다. 시작하시려면 새로운 계정으로 가입해주십시오.</span>
    <span lang="ja" class="multilang">あなたは、クラスの一つに登録できる前に、まず最初に、JLGUのアカウントを必要とします。 開始するには、新規のアカウントの契約をします。</span>
    <span lang="zh_cn" class="multilang">您需要首先获得一个 JLGU 帐户才能注册我们的一个课程。要开始，请注册一个新帐户。</span>

    <a href="https://jlgu.jlg.com/login/signup.php">
        <span lang="en" class="multilang">sign up for a new account.</span>
        <span lang="de" class="multilang">Registrieren Sie sich!</span>
        <span lang="es" class="multilang">inscríbase para una nueva cuenta.</span>
        <span lang="fr" class="multilang">inscrivez-vous pour un nouveau compte.</span>
        <span lang="id" class="multilang">daftarkan akun baru.</span>
        <span lang="it" class="multilang">sottoscrivi un nuovo account.</span>
        <span lang="nl" class="multilang">voor een nieuwe account.</span>
        <span lang="pt_br" class="multilang">registre-se para uma nova conta.</span>
        <span lang="ta" class="multilang">ஒரு புதிய கணக்கைப் பதிவு செய்யவும்.</span>
        <span lang="th" class="multilang">Sign up for a new account.</span>
        <span lang="vi" class="multilang">Sign up for a new account.</span>
        <span lang="hi" class="multilang">Sign up for a new account.</span>
        <span lang="te" class="multilang">Sign up for a new account.</span>
        <span lang="ko" class="multilang">Sign up for a new account.</span>
        <span lang="ja" class="multilang">Sign up for a new account.</span>
        <span lang="zh_cn" class="multilang">Sign up for a new account.</span>
    </a>
</p>



