<div style="margin: 5px; padding: 10px; border: 1px solid black; text-align: center;">
    <p>
        <span lang="en" class="multilang">To enroll in one of our classes, you need a <em><strong>JLGU account</strong></em>.</span>
        <span lang="de" class="multilang">Sie benötigen ein JLGU-Konto, um sich für einen Kurs anmelden zu können.</span>
        <span lang="es" class="multilang">Necesita una <em><strong>cuenta JLGU</strong></em> para inscribirse en una de nuestras clases.</span>
        <span lang="fr" class="multilang">Pour vous inscrire dans un de nos cours, vous avez besoin d'un <em><strong>compte JLGU</strong></em>.</span>
        <span lang="id" class="multilang">Untuk mengikuti salah satu dari empat kelas Anda memerlukan akun JLGU.</span>
        <span lang="it" class="multilang">Per iscriverti a una delle nostre lezioni, devi avere un <em><strong>account JLGU</strong></em>.</span>
        <span lang="nl" class="multilang">Om je in te schrijven voor een van onze lessen, heb je een <em><strong>JLGU-account</strong></em> nodig.</span>
        <span lang="pt_br" class="multilang">Para se inscrever em uma de nossas aulas, precisa de uma <em><strong>conta JLGU</strong></em>.</span>
        <span lang="ta" class="multilang">ஏதாவது ஒரு வகுப்பில் சேர்வதற்கு, ஒரு JLGU கணக்கு தேவை.</span>
        <span lang="th" class="multilang">ในการลงทะเบียนในชั้นเรียนใดๆ ของเรา คุณต้องมีบัญชี JLGU</span>
        <span lang="vi" class="multilang">Để ghi danh tham gia một trong các lớp của chúng tôi, bạn cần có một tài khoản JLGU.</span>
        <span lang="hi" class="multilang">हमारी कक्षाओं में से किसी एक में नामांकन करने के लिए, आपको एक JLGU खाता बनाने की ज़रूरत होगी।</span>
        <span lang="te" class="multilang">మా తరగతులలో ఒకదానిలో నమోదు చేసుకోవడానికి, మీకు ఒక జెఎల్జియు ఖాతా అవసరము..</span>
        <span lang="ko" class="multilang">저희 수업에 참여하시려면 JLGU 계정이 필요합니다.</span>
        <span lang="ja" class="multilang">クラスの一つに登録するには、JLGUのアカウントを必要とします。</span>
        <span lang="zh_cn" class="multilang">要注册我们的某课程，您需要一个 JLGU 帐户。</span>
    </p>
    <p>
        <a href="https://jlgu.jlg.com/login/signup.php" class="btn">
            <span lang="en" class="multilang">Register for an account</span>
            <span lang="de" class="multilang">Registrieren Sie sich</span>
            <span lang="es" class="multilang">Regístrese para una cuenta</span>
            <span lang="fr" class="multilang">S'inscrire pour un compte</span>
            <span lang="id" class="multilang">Daftar akun</span>
            <span lang="it" class="multilang">Registrati per avere un account</span>
            <span lang="nl" class="multilang">Registreren voor een account</span>
            <span lang="pt_br" class="multilang">Se registre para uma conta</span>
            <span lang="ta" class="multilang">கணக்கிற்கு பதிவு செய்யவும்</span>
            <span lang="th" class="multilang">ลงทะเบียนบัญชี</span>
            <span lang="vi" class="multilang">Đăng ký tài khoản</span>
            <span lang="hi" class="multilang">खाता पंजीकृत करें</span>
            <span lang="te" class="multilang">ఒక ఖాతా కొరకు రిజిష్టర్ చేసుకోండి</span>
            <span lang="ko" class="multilang">Register for an account</span>
            <span lang="ja" class="multilang">アカウントを登録</span>
            <span lang="zh_cn" class="multilang">注册一个帐户</span>
        </a>
    </p>
</div>
<div style="margin: 5px; padding: 10px; border: 1px solid black; text-align: center;">
    <p>
        <span lang="en" class="multilang">Already have an account?</span>
        <span lang="de" class="multilang">Haben Sie sich schon registriert?</span>
        <span lang="es" class="multilang">Ya tiene una cuenta?</span>
        <span lang="fr" class="multilang">Vous avez déjà un compte?</span>
        <span lang="id" class="multilang">Sudah memiliki akun?</span>
        <span lang="it" class="multilang">Hai già un account?</span>
        <span lang="nl" class="multilang">Al een account?</span>
        <span lang="pt_br" class="multilang">Já tem uma conta?</span>
        <span lang="ta" class="multilang">ஏற்கனவே கணக்கு உள்ளதா? </span>
        <span lang="th" class="multilang">คุณมีบัญชีอยู่แล้วหรือไม่</span>
        <span lang="vi" class="multilang">Bạn đã có tài khoản?</span>
        <span lang="hi" class="multilang">पहले से एक खाता है?</span>
        <span lang="te" class="multilang">అప్పటికే ఒక ఖాతా ఉన్నదా?</span>
        <span lang="ko" class="multilang">이미 계정이 있으십니까?</span>
        <span lang="ja" class="multilang">すでに、アカウントをお持ちですか?</span>
        <span lang="zh_cn" class="multilang">已经有一个帐户？</span>
    </p>
    <a href="http://jlgu.jlg.com/login/index.php" class="btn">
        <span lang="en" class="multilang">Log in</span>
        <span lang="de" class="multilang">Anmelden</span>
        <span lang="es" class="multilang">Iniciar sesión</span>
        <span lang="fr" class="multilang">Se connecter</span>
        <span lang="id" class="multilang">Login</span>
        <span lang="it" class="multilang">Login</span>
        <span lang="nl" class="multilang">Aanmelden</span>
        <span lang="pt_br" class="multilang">Logon</span>
        <span lang="ta" class="multilang">உள்நுழைக</span>
        <span lang="th" class="multilang">ล็อกอิน</span>
        <span lang="vi" class="multilang">Đăng nhập</span>
        <span lang="hi" class="multilang">लॉगिन करें</span>
        <span lang="te" class="multilang">లాగిన్</span>
        <span lang="ko" class="multilang">Login</span>
        <span lang="ja" class="multilang">ログイン</span>
        <span lang="zh_cn" class="multilang">登录</span>
    </a>
</div>



