<h2>
    <span lang="en" class="multilang">JLG Training Locations</span>
    <span lang="de" class="multilang">JLG Training Locations</span>
    <span lang="es" class="multilang">JLG Training Locations</span>
    <span lang="fr" class="multilang">JLG Training Locations</span>
    <span lang="id" class="multilang">JLG Training Locations</span>
    <span lang="it" class="multilang">JLG Training Locations</span>
    <span lang="nl" class="multilang">JLG Training Locations</span>
    <span lang="pt_br" class="multilang">JLG Training Locations</span>
    <span lang="ta" class="multilang">JLG Training Locations</span>
    <span lang="th" class="multilang">JLG Training Locations</span>
    <span lang="vi" class="multilang">JLG Training Locations</span>
    <span lang="hi" class="multilang">JLG Training Locations</span>
    <span lang="te" class="multilang">JLG Training Locations</span>
    <span lang="ko" class="multilang">JLG Training Locations</span>
    <span lang="ja" class="multilang">JLG Training Locations</span>
    <span lang="zh_cn" class="multilang">JLG Training Locations</span>
</h2>
<p>
    <span lang="en" class="multilang">JLG has dedicated training centers around the U.S. Please read this page for location, accommodation information, and directions. If you have questions, please contact JLG Training at 1-877-554-5438.</span>
    <span lang="de" class="multilang">JLG besitzt Schulungszentren in den USA. Lesen Sie die Hinweise zum Standort, zur Unterkunft und Anreise auf dieser Seite. Wenn Sie Fragen haben, wenden Sie sich an JLG Training at 1-877-554-5438.</span>
    <span lang="es" class="multilang">JLG cuenta con centros de capacitación dedicados en todo los EE.UU. Por favor, lea esta página para obtener información sobre ubicación y alojamiento, e indicaciones. Si tiene preguntas, comuníquese con Capacitación de JLG llamando al 1-877-554-5438.</span>
    <span lang="fr" class="multilang">JLG a des centres de formation dédiés à travers les États-Unis. Veuillez lire cette page pour l'emplacement, les informations sur l'hébergement et les directions. Si vous avez des questions, veuillez contacter JLG Training au 1-877-554-5438.</span>
    <span lang="id" class="multilang">JLG memiliki pusat pelatihan khusus di sekitar AS. Bacalah halaman ini untuk menemukan lokasi, informasi akomodasi, arah. Jika ada pertanyaan, silakan hubungi JLG Training di 1-877-554-5438.</span>
    <span lang="it" class="multilang">JLG dispone di centri didattici in tutti gli Stati Uniti. Consulta questa pagina per conoscere la sede, le informazioni per la sistemazione e le indicazioni. Per chiarimenti, rivolgiti a JLG Training al numero 1-877-554-5438.</span>
    <span lang="nl" class="multilang">JLG heeft gespecialiseerde trainingscentra in heel Amerika. Lees deze pagina voor de locatie, vestigingsgegevens en routebeschrijvingen. Bij vragen kun je contact opnemen met JLG Training via 1-877-554-5438.</span>
    <span lang="pt_br" class="multilang">A JLG tem centros de treinamento dedicados espalhados pelos EUA. Leia esta página para localização, informação de acomodação e direções. Se tiver perguntas, contate Treinamento JLG em 1-877-554-5438.</span>
    <span lang="ta" class="multilang">JLG அமெரிக்க முழுவதும் அர்ப்பணிபுள்ள பயிற்சி மையங்களைக் கொண்டுள்ளது. இடம், விடுதி தகவல் மற்றும் வழிகளைப் பெற இந்தப் பக்கத்தைப் படிக்கவும். ஏதேனும் கேள்விகள் இருந்தால் JLG பயிற்சியை 1-877-554-5438 என்ற எண்ணில் தொடர்புகொள்ளவும்.</span>
    <span lang="th" class="multilang">JLG มีศูนย์ฝึกอบรมทั่วสหรัฐฯ กรุณาดูตำแหน่ง ข้อมูลสถานที่ และทิศทางในหน้านี้ หากมีข้อสงสัย กรุณาติดต่อศูนย์ฝึกอบรม JLG ที่หมายเลข 1-877-554-5438.</span>
    <span lang="vi" class="multilang">JLG có các trung tâm huấn luyện dành riêng trên khắp Hoa KỲ. Vui lòng đọc trang này để biết thông tin địa điểm, chỗ ở và chỉ đường. Nếu bạn có thắc mắc, vui lòng liên hệ với JLG Training theo số 1-877-554-5438.</span>
    <span lang="hi" class="multilang">JLG के पूरे अमेरिका में समर्पित प्रशिक्षण केन्द्र मौजूद हैं। स्थान, आवासीय जानकारी और दिशानिर्देशों के लिए, कृपया इस पृष्ठ को पढ़ें। यदि आप कुछ पूछना चाहते हैं तो कृपया 1-877-554-5438 पर JLG प्रशिक्षण से संपर्क करें।</span>
    <span lang="te" class="multilang">యు.ఎస్. అంతటా జెఎల్జికి అంకితత్వంగల శిక్షణ కేంద్రాలు ఉన్నాయి. స్థానం, వసతి సమాచారం, మరియు దిశల కొరకు దయచేసి ఈ పేజీని చదవండి. మీకు ప్రశ్నలు ఉంటే, దయచేసి జెఎల్జి శిక్షణని 1-877-554-5438 వద్ద సంప్రదించండి.</span>
    <span lang="ko" class="multilang">JLG 는 미국 전역에 전담 트레이닝 센터를 두고 있습니다. 이 위치 페이지와 편의서비스 정보, 지침을 읽어주십시오. 질문이 있으시면 JLG 트레이닝, 1-877-554-5438로 문의해주십시오.</span>
    <span lang="ja" class="multilang">米国内には、専用のJLGトレーニング・センターがあります。 場所、宿泊情報、行き方については、このページをお読みください。質問があれば、JLGトレーニング（ 1-877-554-5438</span>
    <span lang="zh_cn" class="multilang">JLG 在美国各地设立了专门的培训中心。请阅读本页，以了解位置、住宿信息以及路线说明。如果您有任何问题，请致电 1-877-554-5438 与 JLG 培训部联系。</span>
</p>

<ul>
    <li>
        <a target="_blank" href="http://jlgu.jlg.com/draftfile.php/96/user/draft/808232974/JLG%20Training%20Locations.pdf">
            <span lang="en" class="multilang">For North America</span>
            <span lang="de" class="multilang">Für nordamerikanische Standorte</span>
            <span lang="es" class="multilang">Para las ubicaciones en Norteamérica</span>
            <span lang="fr" class="multilang">Pour les emplacements en Amérique du Nord</span>
            <span lang="id" class="multilang">Untuk lokasi di Amerika Utara</span>
            <span lang="it" class="multilang">Per le sedi nel Nord America</span>
            <span lang="nl" class="multilang">Voor Noord-Amerikaanse locaties</span>
            <span lang="pt_br" class="multilang">Para localizações na América do Norte</span>
            <span lang="ta" class="multilang">வட அமெரிக்கா இடங்கள்</span>
            <span lang="th" class="multilang">สำหรับตำแหน่งในอเมริกาเหนือ</span>
            <span lang="vi" class="multilang">Đối với các địa điểm Bắc Mỹ</span>
            <span lang="hi" class="multilang">उत्तरी अमेरिका के स्थानों के लिए</span>
            <span lang="te" class="multilang">ఉత్తర అమెరికా స్థానాల కొరకు</span>
            <span lang="ko" class="multilang">북미 지역에서는</span>
            <span lang="ja" class="multilang">北米の場所向け</span>
            <span lang="zh_cn" class="multilang">对于北美地区的位置</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://jlgu.jlg.com/pluginfile.php/43631/block_html/content/JLGU%20Contact%20List_2_2.pdf">
            <span lang="en" class="multilang">For all other regions</span>
            <span lang="de" class="multilang">Für alle anderen Länder</span>
            <span lang="es" class="multilang">Para todas las demás regiones</span>
            <span lang="fr" class="multilang">Pour toutes les autres régions</span>
            <span lang="id" class="multilang">Untuk wilayah lainnya</span>
            <span lang="it" class="multilang">Per tutte le altre aree geografiche</span>
            <span lang="nl" class="multilang">Voor alle overige regio's</span>
            <span lang="pt_br" class="multilang">Para todas as outras regiões</span>
            <span lang="ta" class="multilang"> மற்ற பகுதிகளுக்கு</span>
            <span lang="th" class="multilang">สำหรับภูมิภาคอื่นๆ ทั้งหมด</span>
            <span lang="vi" class="multilang">Đối Với Tất Cả Các Khu Vực Khác</span>
            <span lang="hi" class="multilang">अन्य सभी क्षेत्रों के लिए</span>
            <span lang="te" class="multilang">మిగిలిన అన్ని ప్రాంతాలకు</span>
            <span lang="ko" class="multilang">다른 모든 지역은</span>
            <span lang="ja" class="multilang">その他の全地域向け</span>
            <span lang="zh_cn" class="multilang">对于所有其他地区</span>
        </a>
    </li>
</ul>





<!-- 
<p style="text-align: center;"><span style="font-size: large;"><strong><span style="color: #000000;"><span class="multilang" lang="en"><strong>JLG Training Locations</strong></span><span class="multilang" lang="zh_cn"><strong>JLG 培训地点<br /></strong></span></span></strong></span></p>
<center>
<table style="width: 740px; height: 83px;" border="0">
<tbody>
<tr>
<td style="text-align: left;" align="left" valign="top">
<p><span style="font-size: medium;"><span class="multilang" lang="en"> To find out what training locations are in your region:</span><span class="multilang" lang="zh_cn">为了找出培训地点在您所在的地区: </span></span></p>
<ul>
<li><span style="font-size: medium;"><span class="multilang" lang="en">For North America, <a target="_blank" href="http://jlgu.jlg.com/draftfile.php/96/user/draft/808232974/JLG%20Training%20Locations.pdf">click here for location, accommodation information, and directions.</a></span><span class="multilang" lang="zh_cn">仅北美,<a target="_blank" href="http://jlgu.jlg.com/draftfile.php/96/user/draft/808232974/JLG%20Training%20Locations.pdf">点击这里查看位置，住宿信息，以及方向。</a></span></span></li>
<li><span style="font-size: medium;"><span class="multilang" lang="en">For all other regions, <a target="_blank" href="http://jlgu.jlg.com/pluginfile.php/43631/block_html/content/JLGU%20Contact%20List_2_2.pdf">click here for your region's contact information.</a></span><span class="multilang" lang="zh_cn">其他地区，<a target="_blank" href="http://jlgu.jlg.com/draftfile.php/96/user/draft/808232974/JLG%20Training%20Locations.pdf">点击这里获得该区域的联系信息</a></span></span></li>
</ul>
</td>
</tr>
</tbody>
</table>
</center>
<p></p> -->